<section class="row">

    <div class="panel panel-default">
<div style="background-color: #7a43b6; color: #fff; height: auto">
    <h3 class="color-white padding">ESPACE CLIENT</h3>
</div>

        <div class="panel-body" style="padding: 0; min-height: 400px">
 <form name="myForm" class="form-horizontal" novalidate style="font-size: 12px; font-weight: normal";>
      <div class="" style="min-height: 400px; padding: 40 px" >
        <div class="" style="margin-top: 50px;">
          <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class=" text-center">
            <span  style="color: #555"><i class="material-icons">info</i></span>
            <span style="color: #777; position: relative;top: -8px;font-style: italic;font-size: 13px;">Entrer les information de votre banque</span>
          </div>

    <div class="row">
    <label class="col-md-4" style="text-align: right; padding-top: 10px">NOM DE LA BANQUE :</label> 

    <div class="col-md-4 input-group">
    <input type="text" name="nom" class="form-control" ng-model="offre.banque.nomBanque"  required ">
    <span class="input-group-addon" style="background-color: white; border: 0 ">
      <a href="#" data-toggle="tooltip" title="Le nom est obligatoire" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
    </span>
    </div>

    <label class="col-md-4">
      <span ng-show="montantProjetForm.$submitted && montantProjetForm.dureePret.$error.required" class="form-text-error">Veuillez entrer le nom de la banque.</span>
    </label> 
    </div>


    <div class="row">
    <label class="col-md-4" style="text-align: right; padding-top: 10px">NUMERO DE TELEPHONE :</label> 

    <div class="col-md-4 input-group">
    <input type="tel" id="NumeroTelephone" name="NumeroTelephone" class="form-control" ng-model="demande.client.adresse.telephonePortable" required>
    <span class="input-group-addon" style="background-color: white; border: 0 ">
      <a href="#" data-toggle="tooltip" title="Veuillez entrer votre numero de telephone" class="pull-left" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
    </span>
    </div>

    <label class="col-md-4">
     <div ng-show="myForm.$submitted && myForm.NumeroTelephone.$error.required" class="form-text-error">Veuillez entrer votre numero de telephone</div>


    </label> 
    </div>


     <div class="row">
    <label class="col-md-4" style="text-align: right; padding-top: 18px">ADRESSE DE LA BANQUE :</label> 

    <div class="col-md-4 input-group">
    <textarea rows="2" name="AdresseBanque" class="form-control" ng-model="offre.adresseBanque" required autofocus>  </textarea>
    <span class="input-group-addon" style="background-color: white; border: 0 ">
      <a href="#" data-toggle="tooltip" title="Represente votre adresse actuel exacte" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span>
          </a>
    </span>
    </div>

    <label class="col-md-4">
      <span ng-show="myForm.$submitted && myForm.AdresseActuelle.$error.required" class="form-text-error">Veuillez entrer votre adresse actuelle</span>
    </label> 
    </div>


     <div class="row">
    <label class="col-md-4" style="text-align: right; padding-top: 10px">ADRESSE E-MAIL DE LA BANQUE:</label> 

    <div class="col-md-4 input-group">
    <input type="email" name="emailBanque" class="form-control"  required ng-model="offre.banque.emailBanque">
    <span class="input-group-addon" style="background-color: white; border: 0 ">
      <a href="#" data-toggle="tooltip" title="Votre adresse electronique est obligatoire" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span>
          </a>
    </span>
    </div>

    <label class="col-md-4">
     <span ng-show="myForm.$submitted && (myForm.emailBanque.$error.required || myForm.emailBanque.$error.email)" class="form-text-error">Veuillez renseigner un mail valide.</span>

    </label> 
    </div>


     <div class="row">
    <label class="col-md-4" style="text-align: right; padding-top: 10px">MOT DE PASSE :</label> 

    <div class="col-md-4 input-group">
    <input type="password" name="pw" class="form-control"  required ng-model="offre.banque.pw">
    <span class="input-group-addon" style="background-color: white; border: 0 ">
      <a href="#" data-toggle="tooltip" title="Veuillez renseigner un mot de passe valide." class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span>
          </a>
    </span>
    </div>

    <label class="col-md-4">
    <span ng-show="myForm.$submitted && myForm.pe.$error.required " class="form-text-error">Veuillez renseigner un mot de passe valide.</span>
    </label> 
    </div>

     <div class="row">
    <label class="col-md-4" style="text-align: right; padding-top: 10px">CONFIRMER VOTRE MOT DE PASSE :</label> 

    <div class="col-md-4 input-group">
    <input type="password" name="pw" class="form-control" required ng-model="offre.banque.pw">
    <span class="input-group-addon" style="background-color: white; border: 0 ">
      <a href="#" data-toggle="tooltip" title="Confirmer votre mot de passe" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span>
          </a>
    </span>
    </div>

    <label class="col-md-4">
    <span ng-show="myForm.$submitted && myForm.pw.$error.required " class="form-text-error"> Confirmer votre mot de passe </span>
    </label> 
    </div>


    </div>

        </div>
</div>
       <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 0; min-height: 38px;">
            <div class="col-md-12">
              
              <button  ng-disabled="$isFirst()" class="btn" style="background-color:#663399;color:white; height: 38px; width: 130px;margin-bottom: 2px" ng-click="$previousStep()">
                <span class="glyphicon glyphicon-chevron-left"></span>
                PRECEDENT </button>

<!-- Indicates a successful or positive action -->
 <button type="submit" class="btn" style="background-color:#663399;color:white; height: 38px;float: right;  width: 130px;margin-bottom: 2px" ng-click="myForm.ResidencePrincipalMensualite.$error.required || myForm.ResidencePrincipalRestant.$error.required ? error = false : $nextStep();">
                SUIVANT
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
           
            </div>
            
          </div>


    </form>

        </div>
    </div>
</section>
