<section>

    <form name="myForm" class="form-horizontal" novalidate>
      <div class="row" style="min-height: 400px">
        <div class="" style="margin-top: 50px;">
        <div style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class="well text-center">
          <strong>POUR ACCÉDER À VOTRE ESPACE CLIENT</strong>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4"> MONTANT DU PRÊT :

        </label>
        <div class="col-sm-4">
          <input type="number" min="0"  name="montantPret" class="form-control"  ng-model="offre.montantPret" required />

          <span ng-show="montantProjetForm.$submitted && montantProjetForm.montantPret.$error.required" class="form-text-error">Veuillez entrer le montant du pret.</span>

        </div>
        <label class="control-label col-sm-4">
          <a href="#" data-toggle="tooltip" title="Indiquez le montant  que vous vouler preter au client" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
        </label>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4"> DUREE DU PRÊT:

        </label>
        <div class="col-sm-4">
          <input type="number" min="0"  name="dureePret" class="form-control"  ng-model="offre.dureePret" required />

          <span ng-show="montantProjetForm.$submitted && montantProjetForm.dureePret.$error.required" class="form-text-error">Veuillez entrer le montant du pret.</span>

        </div>
        <label class="control-label col-sm-4">
          <a href="#" data-toggle="tooltip" title="Indiquez la duree  du preter au client" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
        </label>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4"> TAUX D’INTERÊT ANNUEL HORS ASSURANCE :

        </label>
        <div class="col-sm-4">
          <input type="number" min="0"  name="tauxInteret" class="form-control"  ng-model="offre.tauxInteret" required />

          <span ng-show="montantProjetForm.$submitted && montantProjetForm.dureePret.$error.required" class="form-text-error">Veuillez entrer le montant du pret.</span>

        </div>
        <label class="control-label col-sm-4">
          <a href="#" data-toggle="tooltip" title="Indiquez le taux d'interet annuel hors assurance du preter au client" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
        </label>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4"> ECHEANCE MENSUELLES :

        </label>
        <div class="col-sm-4">
          <input type="number" min="0"  name="echeance" class="form-control"  ng-model="offre.tauxInteret" required />

          <span ng-show="montantProjetForm.$submitted && montantProjetForm.echeance.$error.required" class="form-text-error">Veuillez entrer le montant du pret.</span>

        </div>
        <label class="control-label col-sm-4">
          <a href="#" data-toggle="tooltip" title="Indiquez l'echeance mensuelles du preter au client" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
        </label>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4"> FRAIS DE DOSSIER :

        </label>
        <div class="col-sm-4">
          <input type="number" min="0"  name="fraisDossier" class="form-control"  ng-model="offre.fraisDossier" required />

          <span ng-show="montantProjetForm.$submitted && montantProjetForm.fraisDossier.$error.required" class="form-text-error">Veuillez entrer le montant des frais de dossier du pret.</span>

        </div>
        <label class="control-label col-sm-4">
          <a href="#" data-toggle="tooltip" title="Indiquez les frais de  dossier du preter au client" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
        </label>
      </div>

        <div class="form-group">
        <label class="control-label col-sm-4"> ASSURANCE :

        </label>
        <div class="col-sm-4">
          <input type="number" min="0"  name="assuranceOffre" class="form-control"  ng-model="offre.assurance" required />

          <span ng-show="montantProjetForm.$submitted && montantProjetForm.assuranceOffre.$error.required" class="form-text-error">Veuillez entrer le montant l'assurance du dossier du pret.</span>

        </div>
        <label class="control-label col-sm-4">
          <a href="#" data-toggle="tooltip" title="Indiquez l'assurance' du preter au client" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
        </label>
      </div>

<div class="form-group">
        <label class="control-label col-sm-4"> FRAIS DE NOTAIRE  :

        </label>
        <div class="col-sm-4">
          <input type="number" min="0"  name="fraisNotaire" class="form-control"  ng-model="offre.fraisNotaire" required />

          <span ng-show="montantProjetForm.$submitted && montantProjetForm.fraisNotaire.$error.required" class="form-text-error">Veuillez entrer le montant du frais de notaire de dossier du pret.</span>

        </div>
        <label class="control-label col-sm-4">
          <a href="#" data-toggle="tooltip" title="Indiquez les frais de notaire du preter au client" class="pull-left">
            <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
        </label>
      </div>

    </div>

        </div>
</div>
      <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px;height: 50px;">
      <div class="col-md-5 nopadding text-right">
        <button ng-disabled="$isFirst()" class="btn btn-primary" style="height: 50px; width: 130px"  ng-click="$previousStep()">
          <span class="glyphicon glyphicon-chevron-left"></span>
          PRECEDENT
        </button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5  nopadding text-left">
        <button type="submit" class="btn btn-primary" style="height: 50px; width: 130px"  ng-click="myForm.mail.$error.montantPret || myForm.mail.$error.required ? error = false : $nextStep();">
          SUIVANT
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>

    </div>


    </form>

</section>
