<section>
  <section>
      <h3 style="text-align: center;border-bottom: 0px solid #7a43b6;color: #7a43b6 ">Détail Offre  N° {{offre.id}} </h3>
      <table class="table table-striped table-bordered table-hover" style="width: 90%; margin-right: auto; margin-left: auto;padding: 15px">
          <tr>
             <td style="padding: 0">
                <div ng-if="(utilsServ.isClient() || utilsServ.isClientPro()) && offre.etat ===10" style="text-align: center; padding: 10px; background-color: #663399; font-weight: bold; color: #FFFFFF">
                     Banque : {{offre.banque.displayName}}
                  </div>
                  <div ng-show="utilsServ.isAdmin()" style="text-align: center; padding: 10px; background-color: #663399; font-weight: bold; color: #FFFFFF">
                     Banque : {{offre.banque.displayName}}
                    </div>
                <table class="table table-striped table-bordered table-hover" style="width: 100%; margin-right: auto; margin-left: auto;margin-bottom: 0">
                  <!-- si l'offre est accepté par le client on lui permet de voir la bank qui a la proposition-->  
               
                <tr><td> Montant Prêt :</td><td>{{offre.montantPret}}</td></tr>
                <tr><td> Durée du Prêt :</td><td>{{offre.dureePret}}</td></tr>
                <tr><td> Taux d'Interêt :</td><td>{{offre.tauxInteret}}  %</td></tr>
                <tr><td> Echéance :</td><td>{{offre.echeance}}  XOF</td></tr>
                <tr><td> Frais Dossier :</td><td>{{offre.fraisDossier}} XOF</td></tr>
                <tr><td> Assurance Offre :</td><td>{{offre.assuranceOffre}} XOF</td></tr>
                <tr><td> Frais Notaire :</td><td>{{offre.fraisNotaire}} XOF</td></tr>
                <tr><td> Assurance :</td><td>{{offre.assurance}}  XOF</td></tr>
                <tr><td> Date Dépot :</td><td>{{offre.created}}</td></tr>

                </table>
      
             </td>
              <td style="text-align: center;width: 200px; border-left: 2px solid #7a43b6; ">
                <br><br><br><br>
                <strong style="font-size: 26px; font-weight: bold; color: indigo">
                   TAUX INTERET<br>
              {{offre.tauxInteret}} %
                </strong>
              
            </td>
          </tr>
          
          </table>
          <div class="row ">
            <div class="col-sm-6 ">
                <div ng-switch="offre.etat "  style="text-align:center;margin: 20px">
                    <div ng-switch-when="1 ">
                        <div ng-if="utilsServ.isAdmin() ">
                      <button  ng-click="TransfererOffre()"  type="button " style="background-color: #663399;color: #FFFFFF " class="btn-theme
                      btn-theme-md btn-default-bg text-uppercase ">Transferer Offre</button>
                    </div>
                  </div>
                    <div ng-switch-when="5 ">
                        <div ng-if="utilsServ.isClientPro() || utilsServ.isClient()">
                      <a  ng-click="ChoisirOffre()"  type="button " style="background-color: #663399;color: #FFFFFF
                    " class="btn-theme btn-theme-md btn-default-bg text-uppercase ">Accepter Offre</a>
                    </div>
                    </div>
                    
                  </div>
            </div>
            <div class="col-sm-6 " >
                <div style="text-align:center;margin: 20px">
                <a  ng-click="dismiss()"  type="button " style="background-color:darkgray;color: #FFFFFF
                " class="btn-theme btn-theme-md btn-default-bg text-uppercase ">Quitter</a>
            </div>
          </div>
           </div>
          
  </section>
  
</section>
