<section>
  <section>
      <h3 style="text-align: center;border-bottom: 0px solid #7a43b6;color: #7a43b6 ">Détail Offre  N° {{offre.id}} </h3>
      <table class="table table-striped table-bordered table-hover" style="width: 100%; margin-right: auto; margin-left: auto;padding: 15px">
          <tr>
             <td style="padding: 35px">
                <div class="col-md-6"> Banque :</div><div class="col-md-6">{{offre.banque.displayName}}</div>
                <div class="col-md-6"> Montant Prêt : </div><div class="col-md-6"> {{offre.montantPret}} XOF</div>
                <div class="col-md-6"> Durée du Prêt :</div><div class="col-md-6"> {{offre.dureePret}} </div>
                <div class="col-md-6">Taux d'Interêt :</div><div class="col-md-6"> {{offre.tauxInteret}}  % </div>
                <div class="col-md-6">Echéance :</div><div class="col-md-6">{{offre.echeance}}  XOF</div>
                <div class="col-md-6">Frais Dossier :</div><div class="col-md-6">{{offre.fraisDossier}} XOF</div>
                <div class="col-md-6">Assurance Offre :</div><div class="col-md-6">{{offre.assuranceOffre}} XOF</div>
                <div class="col-md-6">Frais Notaire :</div><div class="col-md-6">{{offre.fraisNotaire}} XOF </div>
                <div class="col-md-6">Assurance :</div><div class="col-md-6">{{offre.assurance}}  XOF</div>
                <div class="col-md-6">Date Dépot :</div><div class="col-md-6"> {{offre.created}} </div>
             </td>
              <td style="text-align: center;width: 200px; border-left: 2px solid #7a43b6; ">
                <br><br><br><br>
                <strong>
                   TAUX INTERET<br>
              {{offre.tauxInteret}} %
                </strong>
              
            </td>
          </tr>
          
          </table>
  </section>
  
</section>
