<div class="">
  <div class="padding">
    <button type="button" class="close pull-right" ng-click="closeModale()">×</button>
  </div>
  <div class="modal-body">
    <user-badge ng-if="user" user="user"></user-badge>
  </div>
  <div class="modal-footer" style="border: none">
   <!-- <button class="btn btn-success" ng-click="deleteLineMnemonique()">&nbsp;{{'buttons.yes.title' | translate}}&nbsp;</button>
    <button class="btn btn-danger" ng-click="cancel()">&nbsp;{{'buttons.no.title' | translate}}&nbsp;</button>
   -->
  </div>

</div>



