<section>
    <form name="myForm" class="form-horizontal" novalidate>
      <div class="row" style="min-height: 400px">
        <div class="" style="margin-top: 50px;padding: 35px">
          <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class=" text-center">
            <span  style="color: #555"><i class="material-icons">info</i></span>
            <span style="color: #777; position: relative;top: -8px;font-style: italic;font-size: 13px;">QUELS SONT VOS AUTRES REVENUS ?</span>
          </div>


            <div class="form-group">
                <label class="control-label col-sm-4">REVENUS LOCATIFS EXISTANT PAR MOIS:
                    </label>
                <div class="col-sm-4 input-group">
                    <input type="number" ng-model="demande.patrimoine.revenu.locatif" name="revenuLocatif" class="form-control" required>
                  <span class="input-group-addon" style="background-color: white; border: 0">
                    <a href="#" data-toggle="tooltip" title="constituent des revenus fonciers et sont soumis à l'impôt sur le revenu. Pour déterminer le résultat
                foncier - bénéficiaire ou déficitaire - des règles précises sont à respecter" class="pull-left">
                  <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
                  </span>
                </div>
              <div ng-show="myForm.$submitted && myForm.revenuLocatif.$error.required" class="form-text-error">Veuillez entrer le revenu locatif</div>
              <label class="control-label col-sm-4"></label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">PENSION ALIMENTAIRES:
                    </label>
                <div class="col-sm-4 input-group">
                    <input type="number" name="passionAli" class="form-control" id="passionAli" ng-model="demande.patrimoine.revenu.pensionAlimentaire">
                  <span class="input-group-addon" style="background-color: white; border: 0">
                     <a href="#" data-toggle="tooltip" title="Constitu la pension alimentaire traduit l’exécution d’une obligation alimentaire ou de secours." class="pull-left">
                  <span class="glyphicon glyphicon-info-sign"  style="color:#663399" aria-hidden="true"></span>
                </a>
                  </span>
                </div>
              <label class="control-label col-sm-4">  </label>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-4">CESSION DE SALAIRES:
                    </label>
                <div class="col-sm-4 input-group">
                    <input type="number" name="cessionSalaire" class="form-control" id="cessionSalaire" ng-model="demande.patrimoine.revenu.cessionSalaire">
                  <span class="input-group-addon" style="background-color: white; border: 0">
                     <a href="#" data-toggle="tooltip" title="La cession sur salaire est un acte volontaire. Afin de rembourser un crédit,
             l'emprunteur peut demander à son employeur de prélever la mensualité sur son salaire et de la verser directement au créancier.
             Il s'agit là d'une cession sur salaire. L'employeur ne connaît à aucun moment l'objet du crédit réalisé." class="pull-left">
              <span class="glyphicon glyphicon-info-sign"  style="color:#663399" aria-hidden="true"></span></a>
                  </span>
                </div>

          <label class="control-label col-sm-4"></label>
            </div>
        </div>
      </div>

      <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px; min-height: 50px;">
        <div class="col-md-4"></div>
        <div class="col-md-2 nopadding text-center">
          <button ng-disabled="$isFirst()" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px" ng-click="$previousStep()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            PRECEDENT
          </button>
        </div>

        <div class="col-md-2  nopadding text-center">
          <button type="submit" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px" ng-click="myForm.revenuLocatif.$error.required ? error = false : $nextStep();">
            SUIVANT
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
        <div class="col-md-4"></div>

      </div>



    </form>
</section>
