<section>
  <div class="col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11">
   <div class="panel-body">
              <form id="myForm" class="form-horizontal" ng-submit="foo()" novalidate>
                <div class="row">

                <div class="form-group">
                    <label class="control-label col-sm-4">REVENUS LOCATIFS EXISTANT PAR MOIS:
                      <a href="#" data-toggle="tooltip" title="" class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                   <div class="col-sm-4">
                        <input type="text" ng-model="demande.patrimoine.revenu.locatif" name="revenuLocatif" class="form-control" id="revenuLocatif"  required >
                    </div>
                  <div ng-messages="myForm.revenuLocatif.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">PENSION ALIMENTAIRES:
                      <a href="#" data-toggle="tooltip" title="" class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                   <div class="col-sm-4">
                        <input type="text" name="passionAli" class="form-control" id="passionAli"
                        ng-model="demande.patrimoine.revenu.pensionAlimentaire">
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-4">CESSION DE SALAIRES:
                      <a href="#" data-toggle="tooltip" title="" class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                   <div class="col-sm-4">
                        <input type="text" name="cessionSalaire" class="form-control" id="cessionSalaire"
                        ng-model="demande.patrimoine.revenu.cessionSalaire">
                    </div>
                </div>


                </div>


            </form>
  </div>
</div>
  </div>
</section>
