<section>
    <form class="form-horizontal">

        <div class="row">
            <div class="col-sm-3" ng-repeat="banque in banques">
                <div class="col-sm-12 " ng-click="choiceBanqueConsulte(banque);">
                    <div ng-class="{'banque-checked': banque.checked , 'banque-unchecked': !banque.checked }"> <i class="material-icons" style="font-size: 90px;color: #aaa">done</i> </div>
                    <img ng-src="{{banque.logo}}" alt="Image" class="img-thumbnail imgBank img-radio" />
                    <div class="btm-space-10 text-center">{{banque.libelle}}</div>
                </div>

            </div>
        </div>

        <div class="row page-header" style="background-color: rebeccapurple; padding:0px ; margin: 0px;height: 50px">
            <div class="col-md-2 nopadding">
                <button ng-disabled="$isFirst()" class="btn border-none" style="height: 50px;width: 101%;" ng-click="$previousStep()">
              <span class="glyphicon glyphicon-chevron-left"></span>
              PRECEDENT
            </button>

            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2  nopadding text-right">

                <button type="submit" class="btn  border-none" style="height: 50px;width: 101%" ng-click="false? error = false : $nextStep();"> 
                SUIVANT
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>


            </div>
        </div>

    </form>

</section>