<section>
  <div class="col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11">
    <div class="panel-body">
      <form class="form-horizontal">

          <div class="row">
            <div class="col-sm-3" ng-repeat="banque in banques">
              <div class="col-sm-12 border-box-black" ng-click="demande.financement.banque = banque.libelle;">
                <img ng-src="{{banque.logo}}" alt="Image" class="img-thumbnail imgBank img-radio">
                <div class="btm-space-10">{{banque.libelle}}</div>
              </div>
          </div>
          </div>
      </form>
    </div>
  </div>
</section>







