<section>
    <div class="panel-body">
        <form class="form-horizontal">

          <div class="row" style="min-height: 400px">
              <div class="" style="margin-top: 5px;">
                <div style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class="well text-center">
                  <strong>BANQUE PRINCIPALE ACTUELLE DE L'EMPRUNTEUR</strong>
                </div>
                <div class="col-sm-3" ng-repeat="banque in banques">

                    <div class="col-sm-12 " style="" ng-click="choiceBanquePrincipale(banque);">
                        <div ng-class="{'banque-checked': demande.financement.banque === banque.libelle, 'banque-unchecked': demande.financement.banque !== banque.libelle}"> <i class="material-icons" style="font-size: 90px;color: #aaa">done</i> </div>
                        <img ng-src="{{banque.logo}}" alt="Image" class="img-thumbnail imgBank img-radio" />
                        <div class="btm-space-10 text-center">{{banque.libelle}}</div>
                    </div>

                </div>
            </div>
          </div>

          <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px;height: 50px;">
            <div class="col-md-5 nopadding text-right">
              <button ng-disabled="$isFirst()" class="btn btn-primary" style="height: 50px; width: 130px" ng-click="$previousStep()">
                <span class="glyphicon glyphicon-chevron-left"></span>
                PRECEDENT
              </button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5  nopadding text-left">
              <button type="submit" class="btn btn-primary" style="height: 50px; width: 130px" ng-click="false ? error = false : $nextStep();">
                SUIVANT
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>

            </div>

          </div>

        </form>
    </div>
    </div>
</section>
