<section class="row">
  <div class="col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11">

     <div class="panel-body">

        <form id="myForm" class="form-horizontal"  novalidate>

          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-4"  style="text-align: right">Civilité :
                <a href="#" data-toggle="tooltip" title="Civilité" class="pull-right">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              </label>
              <div class="col-sm-4">
                <select name="civilite" class="form-control" ng-model="demande.client.civilite" placeholder="Civilité" required autofocus>
                  <option label="Civilité"></option>
                  <option  value="monsieur">Monsieur</option>
                  <option  value="madame">Madame</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-4" style="text-align: right">Nom :
                <a href="#" data-toggle="tooltip" title="Nom" class="pull-right">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              </label>
              <div class="col-sm-4">
                <input type="text"  name="nom" class="form-control" ng-model="demande.client.nom" placeholder="Nom" required>
                <div ng-show="myForm.$submitted && myForm.nom.$error.required" class="form-text-error">Veuillez renseigner ce champ</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-4" style="text-align: right">Prénom :
                <a href="#" data-toggle="tooltip" title="Nom" class="pull-right">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              </label>
              <div class="col-sm-4">
                <input type="text" name="prenom" class="form-control" ng-model="demande.client.prenom" placeholder="prénom" required>
                <div ng-show="myForm.$submitted && myForm.prenom.$error.required" class="form-text-error">Veuillez renseigner ce champ</div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-4" style="text-align: right">Date de Naissance :
                <a href="#" data-toggle="tooltip" title="Date de Naissance" class="pull-right">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              </label>
              <div class="col-sm-4">
                <input type="date"  name="dateNaissance" class="form-control" ng-model="demande.client.dateNassance"  required>
                <div ng-show="myForm.$submitted && myForm.dateNaissance.$error.required" class="form-text-error">Veuillez renseigner ce champ</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-4" style="text-align: right">Situation familiale :
                <a href="#" data-toggle="tooltip" title="Date de Naissance" class="pull-right">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              </label>
              <div class="col-sm-4">
                <select name="situationFamiliale" class="form-control" ng-model="demande.client.situationfamiliale" placeholder="Situation familiale" required autofocus>
                  <option label="Situation familiale"></option>
                  <option  value="marie">Marié</option>
                  <option  value="celibataire">Célibataire</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-4" style="text-align: right">Adresse Actuelle :
                <a href="#" data-toggle="tooltip" title="Date de Naissance" class="pull-right">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              </label>
              <div class="col-sm-4">
                <textarea rows="2" name="AdresseActuelle" class="form-control" ng-model="demande.client.adresse.adresse"  required autofocus>
                <div ng-show="myForm.$submitted && myForm.AdresseActuelle.$error.required" class="form-text-error">Veuillez renseigner ce champ</div>
                </textarea>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-4" style="text-align: right">Numero telephone :
                <a href="#" data-toggle="tooltip" title="Numero telephone" class="pull-right">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              </label>
              <div class="col-sm-4">
                <input type="text" id="NumeroTelephone" name="NumeroTelephone" class="form-control" ng-model="demande.client.adresse.telephonePortable"  required>
                <div ng-show="myForm.$submitted && myForm.NumeroTelephone.$error.required" class="form-text-error">Veuillez renseigner ce champ</div>

              </div>
            </div>
          </div>
          <br>
        </form>
    </div>
  </div>
</section>
