<section class="row">
  <div class="col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-8">
    <div class="login-logo">
      <a href="#"><b></b></a>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">

        <p class="" style="text-align: center">  Quels sont vos credits encours
        </p><hr/>

        <form name="" ng-submit="" class="" novalidate autocomplete="">

          <fieldset style="">


            <div class="form-group" show-errors>
              <label>Residence principale</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="ResidencePrincipalMensualite" name="ResidencePrincipalMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <select class="form-control" id="ResidencePrincipalDuree" name="ResidencePrincipalDuree" ng-model="" >
                      <option label="Durée"></option>
                      <option value="13">10</option>
                      <option value="13">11</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <input type="text" id="ResidencePrincipalRestant" name="ResidencePrincipalRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="form-group" show-errors>
              <label>Residence Secondaire</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="ResidenceSecondaireMensualite" name="ResidenceSecondaireMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <select class="form-control" id="ResidenceSecondaireDuree" name="ResidenceSecondaireDuree" ng-model="" >
                      <option label="Durée"></option>
                      <option value="13">10</option>
                      <option value="13">11</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <input type="text" id="ResidenceSecondaireRestant" name="ResidenceSecondaireRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="form-group" show-errors>
              <label>Investissement Locatif</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="InvestissementLocatifMensualite" name="InvestissementLocatifMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <select class="form-control" id="InvestissementLocatifDuree" name="InvestissementLocatifDuree" ng-model="" >
                      <option label="Durée"></option>
                      <option value="13">10</option>
                      <option value="13">11</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <input type="text" id="InvestissementLocatifRestant" name="InvestissementLocatifRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="form-group" show-errors>
              <label>Autres patrimoines immobilier</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="AutreMensualite" name="AutresMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <select class="form-control" id="AutresDuree" name="AutresDuree" ng-model="" >
                      <option label="Durée"></option>
                      <option value="13">10</option>
                      <option value="13">11</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <input type="text" id="AutresRestant" name="AutresRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="text-center form-group">


              <button class="btn btn-primary btn-sm" type="submit"><< Précedant</button>
              <button class="btn btn-primary btn-sm" type="submit">Suivant >></button>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
