<section>
  <div class="col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11">

              <form id="myForm" class="form-horizontal" ng-submit="foo()" novalidate>
                <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-4">ADRESSE E-MAIL EMPREUNTEUR:
                      <a href="#" data-toggle="tooltip" title="L'adresse e-mail de l'emprunteur est obligatoire." class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                    <div class="col-sm-4">
                        <input type="email" name="mail" class="form-control" id="acquisition" required
                        ng-model="user.adresse.email">
                      <div ng-messages="myForm.mail.$error" ng-messages-include="erreur-demande.client.view.html" ng-if="myForm.$submitted"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-8">Je souhaite recevoir par voie électronique les offres et bons plans:
                      </label>
                    <div class="col-sm-2">
                         <input type="checkbox" name="travaux" class="checkbox" id="travaux" placeholder="">
                    </div>
                </div>

                </div>
            </form>
  </div>
</section>
