<div>

    <form name="myForm" class="form-horizontal" novalidate>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-sm-4">ADRESSE E-MAIL EMPREUNTEUR:
                      <a href="#" data-toggle="tooltip" title="L'adresse e-mail de l'emprunteur est obligatoire." class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                <div class="col-sm-4">
                    <input type="email" name="mail" class="form-control" id="acquisition" required ng-model="user.adresse.email">
                    <div ng-show="myForm.$submitted && (myForm.mail.$error.required || myForm.mail.$error.email)" class="form-text-error">Veuillez renseigner un mail valide.</div>
                </div>
              <label class="control-label col-sm-4">
                <a href="#" data-toggle="tooltip" title=" Votre adresse electronique est obligatoire" class="pull-left">
                  <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden="true"></span></a>
              </label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-8">Je souhaite recevoir par voie électronique les offres et bons plans:
                      </label>
                <div class="col-sm-2">
                    <input type="checkbox" name="travaux" class="checkbox" id="travaux" placeholder="">
                </div>
            </div>

        </div>

        <div class="row page-header" style="background-color: rebeccapurple; padding:0px ; margin: 0px;height: 50px">
            <div class="col-md-2 nopadding">
                <button ng-disabled="$isFirst()" class="btn border-none" style="height: 50px;width: 101%;" ng-click="$previousStep()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            PRECEDENT
          </button>

            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2  nopadding text-right">
                <button type="submit" class="btn  border-none" style="height: 50px;width: 101%" ng-click="myForm.mail.$error.email || myForm.mail.$error.required ? error = false : $nextStep();">
              SUIVANT
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>

            </div>
        </div>

    </form>

</div>
