<section class="row">
    <div class="col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11">


        <div class="panel-body">

            <form name="myForm" class="form-horizontal" novalidate>

                <fieldset style="">

                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-sm-4" style="text-align: right ">Montant de l’apport que vous faites :
                  <a href="#" data-toggle="tooltip" title="Montant de l’apport que vous faites" class="pull-right">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </label>
                            <div class="col-sm-4">
                                <input type="text" name="montantApport" class="form-control" ng-model="demande.apport.montant" required>
                                <div ng-show="myForm.$submitted && myForm.montantApport.$error.required" class="form-text-error">Veuillez renseigner ce champ.</div>
                            </div>

                        </div>
                    </div>
                    <br>

                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-sm-4" style="text-align: right ">Montant finale souhaitée :
                  <a href="#" data-toggle="tooltip" title="Montant finale souhaitée" class="pull-right">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </label>
                            <div class="col-sm-4">
                                <input type="text" name="montantFinal" class="form-control" ng-model="demande.apport.montantFinale" placeholder="" required>
                                <div ng-show="myForm.$submitted && myForm.montantFinal.$error.required" class="form-text-error">Veuillez renseigner ce champ.</div>

                            </div>

                        </div>
                    </div>
                    <br>

                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-sm-4" style="text-align: right ">Duree souhaite :
                  <a href="#" data-toggle="tooltip" title="Montant finale souhaitée" class="pull-right">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </label>
                            <div class="col-sm-4">
                                <input type="text" id="dureeSouhaite" name="dureeSouhaite" class="form-control" ng-model="demande.apport.dureeSouhaite" placeholder="" required>

                            </div>

                        </div>
                    </div>
                    <br>

                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-sm-4" style="text-align: right ">Montant maximum mensualite souhaite :
                  <a href="#" data-toggle="tooltip" title="Montant maximum mensualite souhaite" class="pull-right">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </label>
                            <div class="col-sm-4">
                                <input type="text" id="montantMensuelSouhaiter" name="montantMensuelSouhaiter" class="form-control" ng-model="demande.apport.montantMaxSouhaite" placeholder="" required>

                            </div>

                        </div>
                    </div>
                    <br>
                </fieldset>


                <div class="page-header" style="background-color: rebeccapurple; padding:0; margin: 0; padding: 8px; text-align: center ">
                    <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
      <span class="glyphicon glyphicon-chevron-left"></span>
      PRECEDENT
    </button>

                    <button type="submit" class="btn btn-default" ng-click="myForm.montantFinal.$error.required  && myForm.montantApport.$error.required ? error = false : $nextStep();"> 
      SUIVANT
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
                </div>

            </form>
        </div>
    </div>
</section>