<section>

  <div class="panel-body">

  <form name="myForm" class="form-horizontal" novalidate>
    <div class="row" style="min-height: 400px">
      <div class="" style="margin-top: 10px;">
        <div style="width: 70%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class="well text-center">
          <strong>LE MONTANT DE VOTRE PRÊT</strong>
        </div>
        <div class="row">

            <div class="form-group">
                <label class="control-label col-sm-4" style="text-align: right ">Montant de l’apport que vous faites :
                </label>
                <div class="col-sm-4">
                    <input type="number" aria-valuemin="0" name="montantApport" class="form-control" ng-model="demande.apport.montant" required>
                    <div ng-show="myForm.$submitted && myForm.montantApport.$error.required" class="form-text-error">Veuillez entrer le montant de votre apport du projet.</div>
                </div>

            </div>
        </div>
        <br>

        <div class="row">

            <div class="form-group">
                <label class="control-label col-sm-4" style="text-align: right ">Montant finale souhaitée :
                  <a href="#" data-toggle="tooltip" title="Montant finale souhaitée" class="pull-right">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </label>
                <div class="col-sm-4">
                    <input type="number" aria-valuemin="0" name="montantFinal" class="form-control" ng-model="demande.apport.montantFinale" placeholder="" required>
                    <div ng-show="myForm.$submitted && myForm.montantFinal.$error.required" class="form-text-error">Veuillez entrer le montant final de votre projet.</div>

                </div>

            </div>
        </div>
        <br>

        <div class="row">

            <div class="form-group">
                <label class="control-label col-sm-4" style="text-align: right ">Duree souhaite :
                  <a href="#" data-toggle="tooltip" title="Montant finale souhaitée" class="pull-right">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </label>
                <div class="col-sm-4">
                    <input type="number" aria-valuemin="0" id="dureeSouhaite" name="dureeSouhaite" class="form-control" ng-model="demande.apport.dureeSouhaite" placeholder="" required>

                </div>

            </div>
        </div>
        <br>

        <div class="row">

            <div class="form-group">
                <label class="control-label col-sm-4" style="text-align: right ">Montant maximum mensualite souhaite :
                </label>
                <div class="col-sm-4">
                    <input type="number" id="montantMensuelSouhaiter" name="montantMensuelSouhaiter" class="form-control" ng-model="demande.apport.montantMaxSouhaite" placeholder="" required>

                </div>

            </div>
        </div>
        <br>
      </div>
    </div>


    <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px;height: 50px;">
      <div class="col-md-5 nopadding text-right">
        <button ng-disabled="$isFirst()" class="btn btn-primary" style="height: 50px; width: 130px" ng-click="$previousStep()">
          <span class="glyphicon glyphicon-chevron-left"></span>
          PRECEDENT
        </button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5  nopadding text-left">
        <button type="submit" class="btn btn-primary" style="height: 50px; width: 130px" ng-click="myForm.montantFinal.$error.required  || myForm.montantApport.$error.required ? error = false : $nextStep();">
          SUIVANT
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>

    </div>


</form>
  </div>
</section>
