<section>
    <form name="montantProjetForm" class="form-horizontal" novalidate>
        <div class="row" style="min-height: 400px;padding: 25px">
          <div class="panel panel-body">
          <div class="" style="margin-top: auto; margin-bottom: auto">
            <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class=" text-center">
              <span  style="color: #555"><i class="material-icons">info</i></span>
              <span style="color: #777; position: relative;top: -8px;font-style: italic;font-size: 13px;"> Définissons le montant de votre projet</span>
            </div>
           <div class="form-group" style="">
                <label class="control-label col-sm-4">MONTANT ESTIMÉ DE VOTRE ACQUISITION :

                    </label>
                <div class="col-sm-4 input-group">
                  <input type="number" min="0"  name="montantProjet" class="form-control"  ng-model="demande.projet.montantProjet" ng-change="calcuulTauxNotaire()" required />
                  <span class="input-group-addon" style="background-color: white; border: 0"><a href="#" data-toggle="tooltip" title="Indiquez le montant le montant que vous vouler emprunter" class="pull-left">
                  <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
                  </span>
                </div>

             <label class="control-label col-sm-4"> <span ng-show="montantProjetForm.$submitted && montantProjetForm.montantProjet.$error.required" class="form-text-error">Veuillez entrer le montant de votre projet.</span>
             </label>
            </div>

            <div class="form-group" style="">
                <label class="control-label col-sm-4">MONTANT ESTIMÉ DES TRAVAUX : </label>
                <div class="col-sm-4 input-group">
                    <input type="number" name="travaux" class="form-control"  ng-model="demande.projet.montantTravaux">
                  <span class="input-group-addon" style="background-color: white; border: 0">
                    <a href="#" data-toggle="tooltip" title="Indiquez le montant du ou des devis des entreprise(s)
                    pour faire les travaux. Si vous ne connaissez pas le montant exact, une estimation est suffisante." class="pull-left">
                  <span class="glyphicon glyphicon-info-sign"  style="color:#663399" aria-hidden="true"></span></a>
                  </span>
                </div>
              <label class="control-label col-sm-4"></label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">FRAIS DE NOTAIRE :</label>

              <div class="col-sm-4 input-group">
                    <input type="number" min="0"  name="notaire" class="form-control"  ng-model="demande.projet.fraisNotaire" required readonly>
                <span class="input-group-addon" style="background-color: white; border: 0">
                    <a href="#" data-toggle="tooltip" title="Les frais de notaire correspondent aux sommes versées par le client au notaire pour tout acte notarié.
                 Ils se décomposent en droits et taxes, en débours et en émoluments ou honoraires." class="pull-left">
                  <span class="glyphicon glyphicon-asterisk" style="color:#663399;" aria-hidden="true"></span></a>
                  </span>
                </div>
               <label class="control-label col-sm-4"><span ng-show="montantProjetForm.$submitted && montantProjetForm.notaire.$error.required" class="form-text-error"> Veuillez entrer le frais de notaire de votre projet.</span>
               </label>
            </div>

        </div>

        </div>

        </div>

      <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px; min-height: 50px;">
        <div class="col-md-4"></div>
        <div class="col-md-2 nopadding text-center">
          <button ng-disabled="node.next === 'form'" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px" ng-click="  vm.viewTreePanel = true;vm.viewFormPanel = false; ">
            <span class="glyphicon glyphicon-chevron-left "></span>  PRECEDENT
          </button>
        </div>

        <div class="col-md-2  nopadding text-center">
          <button type="submit" class="btn " style="background-color:#663399;color:white;height: 50px; width: 130px;margin: 2px" ng-click="montantProjetForm.notaire.$error.required || montantProjetForm.montantProjet.$error.required ? error = false : $nextStep();">
            SUIVANT
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
        <div class="col-md-4"></div>


        </div>

    </form>

</section>
