<section>

  <div class="panel-body">

  <form name="myForm" class="form-horizontal" novalidate>
    <div class="row" style="min-height: 400px;padding: 25px">
      <div class="" style="margin-top: 10px;">
        <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class=" text-center">
          <span  style="color: #555"><i class="material-icons">info</i></span>
          <span style="color: #777; position: relative;top: -8px;font-style: italic;font-size: 13px;"> Quel est le montant et les modalités du crédit que vous souhaitez ?            </span>
        </div>

        <div class="row" style="margin-top: 15px">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <label>Montant de l’apport que vous faites :</label>
                  <div class="input-group" >
                        <input type="number" aria-valuemin="0" name="montantApport" class="form-control" ng-model="demande.apport.montant" required>
                    <span class="input-group-addon">
                      <a class="pull-left">
                        <span>F CFA</span>
                      </a>
                    </span>
                    <span class="input-group-addon" style="background-color: white; border: 0">
                      <a href="#" data-toggle="tooltip" title="" class="pull-left">
                        <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span>
                      </a>
                    </span>
                  </div>
                  <div ng-show="myForm.$submitted && myForm.montantApport.$error.required" class="form-text-error">Veuillez entrer le montant de votre apport du projet.</div>
                </div>
                <div class="col-sm-3"></div>
              </div>
      
              <div class="row" style="margin-top: 15px">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                      <label>Montant finale souhaitée :</label>
                      <div class="input-group" >
                            <input type="number" aria-valuemin="0" name="montantFinal" class="form-control" ng-model="demande.apport.montantFinale" placeholder="" required>
                        <span class="input-group-addon">
                          <a class="pull-left">
                            <span>F CFA</span>
                          </a>
                        </span>
                        <span class="input-group-addon" style="background-color: white; border: 0">
                          <a href="#" data-toggle="tooltip" title="Montant finale souhaitée" class="pull-right">
                            <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span>
                          </a>
                        </span>
                      </div>
                      <div ng-show="myForm.$submitted && myForm.montantFinal.$error.required" class="form-text-error">Veuillez entrer le montant final de votre projet.</div>
                    </div>
                    <div class="col-sm-3"></div>
                  </div>
       

                  <div class="row" style="margin-top: 15px">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                          <label>Duree souhaite :</label>
                          <div class="input-group" >
                                <input type="number" aria-valuemin="0" id="dureeSouhaite" name="dureeSouhaite" class="form-control" ng-model="demande.apport.dureeSouhaite" placeholder="" required>
                            <span class="input-group-addon">
                              <a class="pull-left">
                                <span>mois</span>
                              </a>
                            </span>
                            <span class="input-group-addon" style="background-color: white; border: 0">
                                <a href="#" data-toggle="tooltip" title="Preciser la durée souhaitée de votre projet" class="pull-right">
                                  <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span>
                                </a>
                              </span>
                          </div>
                          <div ng-show="myForm.$submitted && myForm.montantFinal.$error.required" class="form-text-error">Veuillez entrer la durée souhaitée de votre projet.</div>
                   
                        </div>
                        <div class="col-sm-3"></div>
                      </div>

                      <div class="row" style="margin-top: 15px">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                              <label>Montant maximum mensualite souhaite :</label>
                              <div class="input-group" >
                                    <input type="number" id="montantMensuelSouhaiter" name="montantMensuelSouhaiter" class="form-control" ng-model="demande.apport.montantMaxSouhaite" placeholder="" required>
                                <span class="input-group-addon">
                                  <a class="pull-left">
                                    <span>F CFA</span>
                                  </a>
                                </span>
                                <span class="input-group-addon" style="background-color: white; border: 0">
                                  <a href="#" data-toggle="tooltip" title="Montant finale souhaitée" class="pull-right">
                                    <span class="" style="color:#663399" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
                                  </a>
                                </span>
                              </div>
                            </div>
                            <div class="col-sm-3"></div>
                          </div>

        
      </div>
    </div>


    <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px; min-height: 50px;">
      <div class="col-md-4"></div>
      <div class="col-md-2 nopadding text-center">
        <button ng-disabled="$isFirst()" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px" ng-click="$previousStep()">
          <span class="glyphicon glyphicon-chevron-left"></span>
          PRECEDENT
        </button>
      </div>

      <div class="col-md-2 nopadding text-center">
        <button type="submit" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px" ng-click="myForm.dureeSouhaite.$error.required  || myForm.montantFinal.$error.required  || myForm.montantApport.$error.required ? error = false : $nextStep();">
          SUIVANT
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>
      <div class="col-md-4"></div>
    </div>


</form>
  </div>
</section>
