<section>

    <form name="myForm" class="form-horizontal" novalidate>
      <div class="row" style="min-height: 400px;padding: 25px">
        <div class="" style="margin-top: 50px;">
          <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class=" text-center">
            <span  style="color: #555"><i class="material-icons">info</i></span>
            <span style="color: #777; position: relative;top: -8px;font-style: italic;font-size: 13px;"> QUELS SONT VOS REVENUS ?</span>
          </div>

            <div class="form-group">
                <label class="control-label col-sm-4">REVENUS NETS MENSUELS DE L'EMPRUNTEUR:
                    </label>
                <div class="col-sm-4">
                    <input type="text" name="revenuMensuel" class="form-control" id="revenuMensuel" ng-model="demande.patrimoine.revenu.mensuel" required>
                    <div ng-show="myForm.$submitted && myForm.revenuMensuel.$error.required" class="form-text-error">Veuillez entrer vos revenus nets mensuels.</div>

                </div>
                <div class="col-sm-1">
                    <label><span>/mois x </span></label>
                </div>
                <div class="col-sm-1">

                    <select name="mois" class="form-control" ng-model="demande.patrimoine.revenu.nbrMois">
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                        </select>

                </div>
              <label class="control-label col-sm-1">
                <a href="#" data-toggle="tooltip" title="Indiquez ici la valeur estimée et le capital restant dû de votre résidence actuelle." class="pull-left">
                  <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
              </label>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">PRIMES ANNUELLES DE L'EMPRUNTEUR:
                    </label>
                <div class="col-sm-4">
                    <input type="text" name="primeAnnuels" class="form-control" id="primeAnnuels" ng-model="demande.patrimoine.revenu.prime">
                </div>
              <label class="control-label col-sm-4">
                <a href="#" data-toggle="tooltip" title="Indiquez ici la valeur estimée et le capital restant dû de votre résidence SECONDAIRE." class="pull-left">
                  <span class="glyphicon glyphicon-info-sign" style="color:#663399" aria-hidden="true"></span></a>
              </label>
            </div>

        </div>
        </div>
      <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px; min-height: 50px;">
        <div class="col-md-4"></div>
        <div class="col-md-2 nopadding text-center">
            <button ng-disabled="$isFirst()" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px"  ng-click="$previousStep()">
              <span class="glyphicon glyphicon-chevron-left"></span>
              PRECEDENT
            </button>
          </div>
          <div class="col-md-2  nopadding text-center">
            <button type="submit" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px"  ng-click="myForm.revenuMensuel.$error.required ? error = false : $nextStep();">
              SUIVANT
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
        <div class="col-md-4"></div>
        </div>



    </form>
    </div>
</section>
