<section>

    <div class="panel-body">

        <form name="myForm" class="form-horizontal" novalidate>
          <div class="row" style="min-height: 400px">
            <div class="panel-body" style="margin-top: 50px;">
              <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class=" text-center">
                <span  style="color: #555"><i class="material-icons">info</i></span>
                <span style="color: #777; position: relative;top: -8px;font-style: italic;font-size: 13px;"> PROFESSION DE L'EMPRUNTEUR ?</span>
              </div>

            <fieldset>




                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align: right ">Contrat de Travail :
                </label>
                        <div class="col-sm-4">
                            <select name="contratTravail" class="form-control" ng-model="demande.patrimoine.profession.typeContrat" required autofocus>
                              <option  value="CDD">CDD</option>
                              <option  value="CDI">CDI</option>
                              <option  value="INTERIM">INTERIM</option>
                            </select>
                        </div>
                      <label class="control-label col-sm-4">
                        <a href="#" data-toggle="tooltip" title="La nature de votre contrat est obligatoire" class="pull-left">
                          <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
                      </label>

                    </div>

                <br>

              <div ng-if="demande.patrimoine.profession.typeContrat === 'CDD' || demande.patrimoine.profession.typeContrat === 'INTERIM'">
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align: right ">Durée du Contrat :
                      </label>
                        <div class="col-sm-4">
                            <input type="text" name="dureeTravail" class="form-control" ng-model="demande.patrimoine.profession.dureeContrat" required>
                            <div ng-show="myForm.$submitted && myForm.dureeTravail.$error.required" class="form-text-error">Veuillez entrer la duree de votre contrat.</div>
                        </div>
                      <label class="control-label col-sm-1">
                        <a href="#" data-toggle="tooltip" title="La durée de votre contrat est obligatoire" class="pull-left">
                          <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
                      </label>

                    </div>
                </div>


                <div ng-if="demande.patrimoine.profession.typeContrat === 'CDI'">
                  <div class="form-group">
                      <label class="control-label col-sm-4" style="text-align: right ">Date de Début du Contrat :
                    </label>
                      <div class="col-sm-4">
                          <input type="text" kendo-date-picker k-format="'dd/MM/yyyy'" name="dureeTravail" class="form-control" ng-model="demande.patrimoine.profession.dateDeDebutContrat" required>
                          <div ng-show="myForm.$submitted && myForm.dureeTravail.$error.required" class="form-text-error">Veuillez entrer la duree de votre contrat.</div>
                      </div>
                    <label class="control-label col-sm-1">
                      <a href="#" data-toggle="tooltip" title="La durée de votre contrat est obligatoire" class="pull-left">
                        <span class="glyphicon glyphicon-asterisk" style="color:#663399" aria-hidden="true"></span></a>
                    </label>

                  </div>
              </div>


                <br>


            </fieldset>
            </div>
          </div>

          <div class="row page-header" style="background-color: #f8f8f8; padding:0px ; margin: 10px; min-height: 50px;">
            <div class="col-md-4"></div>
            <div class="col-md-2 nopadding text-center">
              <button ng-disabled="$isFirst()" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px" ng-click="$previousStep()">
                <span class="glyphicon glyphicon-chevron-left"></span>
                PRECEDENT
              </button>
            </div>

            <div class="col-md-2  nopadding text-center">
              <button type="submit" class="btn" style="background-color:#663399;color:white; height: 50px; width: 130px;margin-bottom: 2px" ng-click="demande.patrimoine.profession.typeContrat.$error.required ? error = false : $nextStep();">
                SUIVANT
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div>
            <div class="col-md-4"></div>
          </div>


        </form>
    </div>
</section>
