<section>

  <div class="navbar navbar-inverse navbar" >

    <div class="container">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand active"  href="./" style="font-family: cambria; font-weight: bold; color: white">BRM </a> -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="">
        <ul class="nav navbar-nav" style="font-size: 14px">


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false"><b style="color: white;">CREDIT IMMOBILIER</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Acheter Un Bien</a></li>
              <li><a href="">Construire</a></li>
              <li><a href="">Negocier Votre Pret</a></li>
              <li><a href="">Autres</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false"><b style="color: white;">ASSURANCE PRET IMMOBILIER</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Sous Menu</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false"><b style="color: white;">CREDIT CONSOMMATION</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Sous Menu</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false"><b style="color: white;">FINANCEMENT PRO</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Sous Menu</a></li>
            </ul>
          </li>


        </ul>

      </div>
    </div>
  </div>

  <div class="col-sm-12" >
    <div class="container" style="background-color: white; min-height: 600px"></div>


  </div>

  <div id="footer" align="center" style="margin-top: 20px">
    <b><font size='-2' face=\"helvetica\"> © ANTUS SA 2017 - Tous droits r&eacute;serv&eacute;s </font></b>
  </div>

</section>
