
<!--========== SLIDER ==========-->
<div class="promo-block" style="padding-top: 18px">
    <div class="row " style="">
  <div class="container">

      <div class="col-sm-8">
	  <div class="panel">
	  <div class="panel-body">
        <div class="margin-b-3" style="text-align: center">
          <h1 class="promo-block-text text-uppercase" style="color: #663399; font-size: 25px; font-weight: bold">
            Comparez les offres de prêt immobilier </h1>
            <h3><em>en moins de 5 minutes</em></h3>
            <div class="col-md-6">
              <p class="" style="text-align: center">
                <a ui-sref="demandes.create" style="background-color: #663399;color: #FFFFFF" class="btn-theme btn-theme-md btn-default-bg text-uppercase">Demande crédit immobilier</a>
              </p>
            </div>
            <div class="col-md-6">
              <p class="" style="text-align: center">
                <a ui-sref="demandes.createDemandeProfessionnel" style="background-color: #663399;color: #FFFFFF" class="btn-theme btn-theme-md btn-default-bg text-uppercase">Demande crédit professionnel</a>
              </p>
            </div>
         
        </div>
</div>
</div>
  <img class="full-width img-responsive" ng-src="/modules/core/client/img/01.jpg" alt="Image">

 
      </div>

        <div class="col-md-4">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-mustache"></i>
            </div>
          
              <h3 style="color: #663399" >TOUTES LES ACTUALITÉS</h3>
              <p class="margin-b-5">
     <hr/>           
Profitez des taux immobiliers attractifs pour investir dans des SCPI à crédit - Selon le dernier baromètre...
 <hr/>
 Profitez des taux immobiliers attractifs pour investir dans des SCPI à crédit - Selon le dernier baromètre...
 <hr/>
 Profitez des taux immobiliers attractifs pour investir dans des SCPI à crédit - Selon le dernier baromètre...

              </p>
          
            <a href="#" class="content-wrapper-link"></a>
          </div>

                    <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-mustache"></i>
            </div>
          
              <h3 style="color: #663399" >SOLUTIONS</h3>
              <p class="margin-b-5">
     <hr/>           
RACHAT DE CREDIT
Nos conseils pour mener votre projet à bien
     <hr/>  
CREDIT A LA CONSOMMATION
Comparez les taux en 5 minutes
     <hr/>  
CREDIT TRAVAUX
Découvrez les crédits adaptés à vos besoins

              </p>
          
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
      
    </div>
    <!--// end row -->
  </div>
</div>
<!--========== SLIDER ==========-->



<!-- Experience -->
<div id="experience">

    <div class="container content-lg">
      <h2>Nos Partenaires</h2>
      <div class="row row-space-2 margin-b-4">
        <div class="col-md-3 col-sm-6 md-margin-b-4">
          <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
            <div class="service-element">
              <i class="service-icon color-white icon-screen-tablet"></i>
            </div>
            <div class="service-info">
              <h3 class="color-white">Partenaire 2</h3>
              <p class="color-white margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
         <div class="col-md-3 col-sm-6 md-margin-b-4">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-mustache"></i>
            </div>
            <div class="service-info">
              <h3>Partenaire 1</h3>
              <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 sm-margin-b-4">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-chemistry"></i>
            </div>
            <div class="service-info">
              <h3>Partenaire 3</h3>
              <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service" data-height="height">
            <div class="service-element">
              <i class="service-icon icon-badge"></i>
            </div>
            <div class="service-info">
              <h3>Partenaire 4</h3>
              <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
            </div>
            <a href="#" class="content-wrapper-link"></a>
          </div>
        </div>
      </div>
        </div>
          </div>
      <!--// end row -->



<!-- End Contact -->
<!--========== END PAGE LAYOUT ==========-->
