<section class="row">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <div class="login-logo">
      <a href="#"><b></b></a>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">

        <p class="" style="text-align: center">  Avez vous déja consultés des banques
        </p><hr/>

        <form name="" ng-submit="" class="" novalidate autocomplete="">

          <fieldset style="">
            <div class="form-group" show-errors>
              <div class="checkbox" id="choixBank" name="choixBank" class="form-control" ng-model=""  required>
                <label><input type="checkbox" value="">BICIS</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">SGBS</label>
              </div>
              <div class="checkbox disabled">
                <label><input type="checkbox" value="" disabled>ECOBANK</label>
              </div>
            </div>

            <div class="text-center form-group">


              <button class="btn btn-primary btn-sm" type="submit"><< Précedant</button>
              <button class="btn btn-primary btn-sm" type="submit">Suivant >></button>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>



