<section>
    <div class="col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11">
  <div class="page-header">
    <h1> QUEL EST VOTRE PRATRIMOINE IMMOBILIER A CE JOUR ?</h1>
    
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 pull-center">
      <label class="pull-center"> VALEUR DU BIEN</label>
    </div>
    <div class="col-sm-4">
       <label> CAPITAL RESTANT DÛ</label>
    </div>
  </div>
              <form class="form-horizontal well">
                <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">RESIDENCE PRINCIPALE:
                      <a href="#" data-toggle="tooltip" title="Indiquez ici la valeur estimée et le capital restant dû de votre résidence actuelle." class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                    <div class="col-sm-4">
                        <input type="text" name="Valprincipale" class="form-control" id="Valprincipale" placeholder="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="Duprincipale" class="form-control" id="Duprincipale" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">RESIDENCE(S) SECONDAIRE(S):
                      <a href="#" data-toggle="tooltip" title="Indiquez ici la valeur estimée et le capital restant dû de votre résidence SECONDAIRE." class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                   <div class="col-sm-4">
                        <input type="text" name="ValSecondaire" class="form-control" id="ValSecondaire" placeholder="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="DuSecondaire" class="form-control" id="DuSecondaire" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">INVESTISSEMENT(S) LOCATIF(S):
                      <a href="#" data-toggle="tooltip" title="Indiquez ici la valeur estimée et le capital restant dû de votre résidence SECONDAIRE." class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                   <div class="col-sm-4">
                        <input type="text" name="ValLocatif" class="form-control" id="ValLocatif" placeholder="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="DuLocatif" class="form-control" id="DuLocatif" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="email">AUTRE PATRIMOINE IMMOBILIER:
                      <a href="#" data-toggle="tooltip" title="Indiquez ici la valeur estimée et le capital restant dû de votre résidence SECONDAIRE." class="pull-right">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                   <div class="col-sm-4">
                        <input type="text" name="ValAutre" class="form-control" id="ValAutre" placeholder="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="DuAutre" class="form-control" id="DuAutre" placeholder="">
                    </div>
                </div>
                
                

                </div>

                <div class="row">
                <div class="form-group">    
                    <div class="col-sm-2">
                      <button type="submit"  class="btn btn-info btn-flat btn-block">Precedent</button>
                  </div>  
                <div class="col-sm-8">
                  
                  <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width: 29%;">
                      39%
                    </div>
                  </div>
                  
                </div>
                <div class="col-sm-2">
                    <button type="submit"  class="btn btn-info btn-block">Suivant</button>
                  </div>
                </div>
                </div>
            </form>
  </div>
</div>
</section>