<section class="row">
  <div style="width: 600px;background-color: #fff; box-shadow: 0px 0px 2px #ccc; padding: 100px 10px 100px 10px;margin: auto;">

    <div ng-show="vm.sendedMail">
      <p style="padding-bottom: 20px; border-bottom: solid 1px #663399; text-align: center;font-size: 16px;">L'email de réinitialisation de votre mot de passe est envoyé avec succes !</p>
    </div>
    <div ng-show="!vm.sendedMail">
      <h3 class="col-md-12 text-center">Reinitialiser votre mot de passe</h3>
      <p class="small text-center">Enter votre adresse email.</p>
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
        <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
          <fieldset>
            <div class="form-group" show-errors>
              <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Email" lowercase required autofocus>
              <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Entrer un email valide.</p>
              </div>
            </div>
            <div class="text-center form-group">
              <button type="submit" class="col-xs-8  col-md-12 btn " style="background-color: #663399;color: white"><b>Valider</b></button>
            </div>
          </fieldset>
        </form>
      </div>
</div>
  <div class="clearfix"></div>
</div>

</section>
