<section class="row">
    <div>
      <div ng-if="vm.demandes.length > 0">
              <div style="background-color: #7a43b6; color: #fff; height: 50px">
                  <h3 class="color-white padding">Liste Des Demandes</h3>
              </div>
        <list-demandes demandes="vm.demandes"></list-demandes>    
      </div>
      <div ng-if="vm.demandes.length < 1" class="service " data-height="height">
        <div>
          <p>Aucune demande n'a été trouvée</p>
        </div>
      </div>
  
    </div>
  </section>
  