<section>
  <div class="row">
    <div class="col-md-4">
      <user-badge ng-if="vm.authentication.user" user="vm.user"></user-badge>
      <div class="row" style="margin: 10px;margin-top: -10px">
          <ul class="list-unstyled">
              <li class="menu-user-item" ><a style="width: 100%" ui-sref="homeadmin.demandesoumises()"> Demandes De Crédit</a></li>
           <!--   <li class="menu-user-item" ><a style="width: 100%" ui-sref="homeadmin.demandesoumisesFinancementPro()"> Demandes Financement Pro</a></li> -->
              <li class="menu-user-item" ><a style="width: 100%" ui-sref="homeadmin.users({role: 'user'})"> Clients</a></li>
              <li class="menu-user-item" ><a style="width: 100%" ui-sref="homeadmin.users({role: 'banque'})"> Banques</a></li>
              <li class="menu-user-item" ><a style="width: 100%" ui-sref="homeadmin.addBanque()"> Ajouter une banque</a></li>
              <li class="menu-user-item" ><a style="width: 100%" ui-sref="homeadmin.users({role: 'admin'})"> Administrateurs</a></li>
              <li class="menu-user-item" ng-if="!vm.isContextUserSelf()"><a style="width: 100%" ui-sref="admin.user.remove()"> Supprimer le compte </a></li>
              <li class="menu-user-item " ng-if="!vm.isContextUserSelf()"><a style="width: 100%" ui-sref="admin.user.edit()"> Modifier le profil </a></li>
            </ul>
      </div>
      
    </div>
    <div class="col-md-8">
      <div class="row" style="padding-top: 10px;">
        <div  ui-view="admin_home_right_side"></div> 
      </div>
    </div>
  </div>
</section>
