<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-primary" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <user-badge user="vm.user"></user-badge>
      <div class="row" style="border: solid 1px red;margin: 10px;margin-top: -10px">
          <ul class="list-unstyled">
              <li style="background-color: green;"><a style="width: 100%" ui-sref="admin.user-edit({userId: vm.user._id})"> Supprimer le compte </a></li>
              <li>Modifier le profil </li>
            </ul>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="row">
      </div>
      Action user
    </div>
  </div>
</section>
