   <section>
  
    
          <div class="panel-body" style="padding: 20px; min-height: 400px">
        <div class="" ng-repeat="demande in demandes">
           <a ui-sref="demandes.view({demandeId : demande._id })">
       <table class="table table-striped table-bordered table-hover" style="width: 70%; margin-right: auto; margin-left: auto;">
       
         <tr>
             <td style=" width: 50px; text-align: center">{{demande.created}}</td>
             <td>
              
             
              
              <div class="col-sm-8">
                 
                      <span style="color: #7a43b6; font-style: normal;font-size: 16px; font-weight: bold; ">
                          CREDIT {{demande.type}}
                        </span><br> PROJET  N° {{demande.numeroDemande}}
              </div>             
                <div class="col-sm-4" style="text-align: center">
                  <div ng-if="demande.offres.length  > 0">
                      
                          OFFRE <span class="badge badge-light" style="background-color: red; color: white">{{demande.offres.length}}</span>
                      
                 </div>
                </div>
            </td>
             <td style="text-align: center;width: 200px; border-left: 2px solid #7a43b6; ">
               <strong>
                  Montant projet<br>
             {{demande.projet.montantProjet}} XOF
             
               </strong>
             
           </td>
         </tr>
         
         </table>
           </a>
         </div>

            
   
  </section>

