<section class="row">

    <div class="panel panel-default">

        <div class="panel-body" style="padding: 0; min-height: 400px">

          <div ng-show="vm.viewTreePanel ">
                <chose-type-demande node="vm.typeDemande"></chose-type-demande>

            </div>
            <div ng-show="vm.viewFormPanel">
                <multi-step-container steps="vm.steps" class="simple-prev-next">
                    <div class="" style="background-color:rebeccapurple; padding:10px;height: 50px; ">
                        <h3 style="color: white" ng-bind-template="{{$getActiveStep().title}}"></h3>
                    </div>


                    <main step-container style="min-height: 400px; margin-top: 50px">

                    </main>

                    <div class="clearfix"></div>
                </multi-step-container>
            </div>
        </div>
    </div>
</section>
