
      <div class="container" style="color: #7a43b6; ">
         <div class="col-md-6">  </div>
         <div class="col-md-6"><h2 style="text-align: right;color: #7a43b6; ">Espace Banque</h2></div>
      </div>
    

 <div class="panel panel-default">
  <div style="background-color: #7a43b6; color: #fff;">
    <div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-group-lg" style="background-color: #7a43b6; ">Mes Demandes</button>
  <button type="button" class="btn btn-group-lg" style="background-color: #7a43b6;">Mes Offres</button>

</div>
  </div>
  
          <div class="panel-body" style="padding: 20px; min-height: 400px">
<section class="row">
  <div class="col-xs-offset-2 col-xs-10 col-md-offset-1 col-md-11">
    <div ng-if="vm.demandes.length > 0">
      <list-demandes demandes="vm.demandes"></list-demandes>    
    </div>
    <div ng-if="vm.demandes.length < 1">
      <div>
        <p>Aucune demande n'a été trouvée</p>
      </div>
    </div>

  </div>
</section>

          </div>