
      <div class="container" style="color: #7a43b6;">
         <div class="col-md-6">  </div>
         <div class="col-md-6"><h2 style="text-align: right;color: #7a43b6; ">Espace Client</h2></div>
      </div>
    

 <div class="panel panel-default">
  <div style="background-color: #6f5499; color: #fff;">
    <div class="btn-group btn-group-lg">
   
  <button ui-sref="demandes.list" type="button" class="btn btn-group-lg" style="background-color: #6f5499; ">Mes Demandes</button>

  <button  ui-sref="offres.list" type="button" class="btn btn-group-lg" style="background-color: #6f5499;">Mes Offres</button>

</div>
  </div>
  
          <div class="panel-body" style="padding: 20px; min-height: 400px">
        <h2 style="">Appel Directive liste </h2>
       
        <list-demandes demandes="vm.demandes"></list-demandes>    
 
          </div>

           </div>