<section>
  <div class="page-header">
    <h1> VOTRE PROJET IMMOBILIER</h1>
    <p>Quels taux de crédit immobilier pour votre profil et votre projet ? Comparez plusieurs offres personnalisées parmi 110 partenaires bancaires. Gratuitement, sans engagement, vous pourrez optimiser votre projet immobilier. En 2015, meilleurtaux.com a ainsi accompagné + de 72 000 nouveaux propriétaires !</p>
  </div>
  <div>
    <chose-type-demande node="vm.typeDemande"></chose-type-demande>
  </div>

</section>

<section class="row">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <div class="login-logo">
      <a href="#"><b></b></a>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">

        <p class="" style="text-align: center">  DÉFINISSONS LE MONTANT DE VOTRE PROJET
        </p><hr/>

        <form name="" ng-submit="" class="" novalidate autocomplete="">

          <fieldset style="">

            <div class="form-group" show-errors>
              <label>Montant de l’apport que vous faites</label>
              <input type="text" id="montantApport" name="montantApport" class="form-control" ng-model="" placeholder="" required>
            </div>

            <div class="form-group" show-errors>
              <label>Montant finale souhaitée</label>
              <input type="text" id="montantFinal" name="montantFinal" class="form-control" ng-model="" placeholder="" required>
            </div>

            <div class="form-group" show-errors>
              <label>Duree souhaite</label>
              <input type="text" id="dureeSouhaite" name="dureeSouhaite" class="form-control" ng-model="" placeholder="" required>
            </div>

            <div class="form-group" show-errors>
              <label>Montant maximum mensualite souhaite</label>
              <input type="text" id="montantMensuelSouhaiter" name="montantMensuelSouhaiter" class="form-control" ng-model="" placeholder="" required>
            </div>

            <div class="text-center form-group">
              <button class="btn btn-primary btn-sm" type="submit"><< Précedant</button>
              <button class="btn btn-primary btn-sm" type="submit">Suivant >></button>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="row">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <div class="login-logo">
      <a href="#"><b></b></a>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">

        <p class="" style="text-align: center">
          Vos Coordonnées
        </p><hr/>

        <form name="" ng-submit="" class="" novalidate autocomplete="off">

          <fieldset style="">
            <div class="form-group" show-errors>
              <label>Civilité</label>
              <select name="civilite" class="form-control" ng-model="" placeholder="Civilité" required autofocus>
                <option label="Civilité"></option>
                <option  value="monsieur">Monsieur</option>
                <option  value="madame">Madame</option>
              </select>
            </div>

            <div class="form-group" show-errors>
              <label>Nom</label>
              <input type="text" id="nom" name="nom" class="form-control" ng-model="" placeholder="Nom" required>
            </div>

            <div class="form-group" show-errors>
              <label>Date de Naissance</label>
              <input type="date" id="dateNaissance" name="dateNaissance" class="form-control" ng-model=""  required>
            </div>

            <div class="form-group" show-errors>
              <label>Situation familiale</label>
              <select name="situationFamiliale" class="form-control" ng-model="" placeholder="Situation familiale" required autofocus>
                <option label="Situation familiale"></option>
                <option  value="marie">Marié</option>
                <option  value="celibataire">Célibataire</option>
              </select>
            </div>

            <div class="form-group" show-errors>
              <label>Adresse Actuelle</label>
              <textarea rows="2" name="AdresseActuelle" class="form-control" ng-model=""  required autofocus>

              </textarea>
            </div>

            <div class="form-group" show-errors>
              <label>Numero telephone</label>
              <input type="text" id="NumeroTelephone" name="NumeroTelephone" class="form-control" ng-model=""  required>
            </div>


            <div class="text-center form-group">
              <button class="btn btn-primary btn-sm" type="submit"><< Précedant</button>
              <button class="btn btn-primary btn-sm" type="submit">Suivant >></button>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="row">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <div class="login-logo">
      <a href="#"><b></b></a>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">

        <p class="" style="text-align: center">  Avez vous déja consultés des banques
        </p><hr/>

        <form name="" ng-submit="" class="" novalidate autocomplete="">

          <fieldset style="">
            <div class="form-group" show-errors>
              <div class="checkbox" id="choixBank" name="choixBank" class="form-control" ng-model=""  required>
                <label><input type="checkbox" value="">BICIS</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">SGBS</label>
              </div>
              <div class="checkbox disabled">
                <label><input type="checkbox" value="" disabled>ECOBANK</label>
              </div>
            </div>

            <div class="text-center form-group">


              <button class="btn btn-primary btn-sm" type="submit"><< Précedant</button>
              <button class="btn btn-primary btn-sm" type="submit">Suivant >></button>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>





<section class="row">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <div class="login-logo">
      <a href="#"><b></b></a>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">

        <p class="" style="text-align: center">  Situation Professionnel
        </p><hr/>

        <form name="" ng-submit="" class="" novalidate autocomplete="">

          <fieldset style="">
            <div class="form-group" show-errors>
              <label>Contrat de Travail</label>
              <select name="contratTravail" class="form-control" ng-model="" placeholder="Contrat de Travail" required autofocus>
                <option label="Contrat de Travail"></option>
                <option  value="CDD">CDD</option>
                <option  value="CDI">CDI</option>
                <option  value="INTERIM">INTERIM</option>
              </select>
            </div>

            <div class="form-group" show-errors>
              <label>Durée de Travail</label>
              <input type="text" id="dureeTravail" name="dureeTravail" class="form-control" ng-model=""  required>
            </div>

            <div class="text-center form-group">


              <button class="btn btn-primary btn-sm" type="submit"><< Précedant</button>
              <button class="btn btn-primary btn-sm" type="submit">Suivant >></button>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="row">
  <div class="col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-8">
    <div class="login-logo">
      <a href="#"><b></b></a>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">

        <p class="" style="text-align: center">  Quels sont vos credits encours
        </p><hr/>

        <form name="" ng-submit="" class="" novalidate autocomplete="">

          <fieldset style="">


            <div class="form-group" show-errors>
              <label>Residence principale</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="ResidencePrincipalMensualite" name="ResidencePrincipalMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                  <select class="form-control" id="ResidencePrincipalDuree" name="ResidencePrincipalDuree" ng-model="" >
                    <option label="Durée"></option>
                    <option value="13">10</option>
                    <option value="13">11</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                  </select>
                    <span class="input-group-addon">mois</span>
                </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                  <input type="text" id="ResidencePrincipalRestant" name="ResidencePrincipalRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="form-group" show-errors>
              <label>Residence Secondaire</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="ResidenceSecondaireMensualite" name="ResidenceSecondaireMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <select class="form-control" id="ResidenceSecondaireDuree" name="ResidenceSecondaireDuree" ng-model="" >
                      <option label="Durée"></option>
                      <option value="13">10</option>
                      <option value="13">11</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <input type="text" id="ResidenceSecondaireRestant" name="ResidenceSecondaireRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="form-group" show-errors>
              <label>Investissement Locatif</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="InvestissementLocatifMensualite" name="InvestissementLocatifMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <select class="form-control" id="InvestissementLocatifDuree" name="InvestissementLocatifDuree" ng-model="" >
                      <option label="Durée"></option>
                      <option value="13">10</option>
                      <option value="13">11</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <input type="text" id="InvestissementLocatifRestant" name="InvestissementLocatifRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="form-group" show-errors>
              <label>Autres patrimoines immobilier</label>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <input type="text" id="AutreMensualite" name="AutresMensualite" class="form-control" ng-model="" placeholder="mensualite"  required>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <select class="form-control" id="AutresDuree" name="AutresDuree" ng-model="" >
                      <option label="Durée"></option>
                      <option value="13">10</option>
                      <option value="13">11</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <div class="input-group">
                    <input type="text" id="AutresRestant" name="AutresRestant" class="form-control" ng-model=""  placeholder="Restant" required>
                    <span class="input-group-addon">mois</span>
                  </div>
                </div>
              </div>

            </div>
            <hr/>
            <div class="text-center form-group">


              <button class="btn btn-primary btn-sm" type="submit"><< Précedant</button>
              <button class="btn btn-primary btn-sm" type="submit">Suivant >></button>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

