<section>
  <div class="page-header">
    <h1> VOTRE PROJET IMMOBILIER</h1>
    <p>Quels taux de crédit immobilier pour votre profil et votre projet ? Comparez plusieurs offres personnalisées parmi 110 partenaires bancaires. Gratuitement, sans engagement, vous pourrez optimiser votre projet immobilier. En 2015, meilleurtaux.com a ainsi accompagné + de 72 000 nouveaux propriétaires !</p>
  </div>
  <div>
    <div ng-show="vm.viewTreePanel ">
      <chose-type-demande node="vm.typeDemande"></chose-type-demande>
    </div>
    <div ng-show="vm.viewFormPanel">
      <multi-step-container steps="vm.steps" class="simple-prev-next">
        <header>
          <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
            <span class="fa fa-chevron-left"></span>
            Previous
          </button>

          <strong ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title}}"></strong>

          <button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
            Next
            <span class="fa fa-chevron-right"></span>
          </button>
        </header>

        <main step-container></main>
      </multi-step-container>
    </div>
  </div>



</section>
