<section class="row">

  <div class="panel panel-default">

    <div class="panel-body">

      <div ng-show="vm.viewTreePanel ">
        <chose-type-demande node="vm.typeDemande"></chose-type-demande>

      </div>
      <div ng-show="vm.viewFormPanel">
        <multi-step-container steps="vm.steps" class="simple-prev-next">
          <div class="page-header">
            <h1 style="text-align: center" ng-bind-template="{{$getActiveStep().title}}"></h1>

          </div>


          <main step-container></main>

          <div class="clearfix"></div>
          <div style="background-color: darkmagenta;padding: 8px" class="row">
            <div style="text-align: center;" >
              <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
                <span class="fa fa-chevron-left"></span>
                Previous
              </button>
              <button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
                Next
                <span class="fa fa-chevron-right"></span>
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
        </multi-step-container>
      </div>
    </div>
  </div>
</section>
