<section>

    <div class="panel panel-default">
<div style="background-color: #7a43b6; color: #fff; height: auto">
    <h3 class="color-white padding">DEMANDE</h3>
</div>

        <div class="panel-body" style="min-height: 400px">

     <div class="panel panel-default" style="min-width: 900px; margin: auto; margin-bottom: 30px">
      <div class="panel-body">
     <h3 style="border-bottom: 1px solid #ddd; padding: 1px">CLIENT </h3>
     <div class="row">
      <label class="col-sm-6"><span class="">Prénom : {{vm.demande.clent.prenom}}</span></label>
      <label class="col-sm-6"><span class="">Nom : {{vm.demande.clent.nom}}</span></label>
     </div>
     
     <div class="row">
      <label class="col-sm-6"><span class="">Civilité : {{vm.demande.clent.civilite}}</span></label>
      <label class="col-sm-6"><span class="">Situation Familliale : {{vm.demande.clent.situationfamiliale}}</span></label>
     </div>
     
     <div class="row">
      <label class="col-sm-6"><span class="">Date de Naissance : {{vm.demande.clent.dateNassance}}</span></label>
      <label class="col-sm-6"><span class="">Nationalité : {{vm.demande.clent.nationalite}}</span></label>
     </div>
     <div class="row">
      <label class="col-sm-6"><span class="">Pays : {{vm.demande.clent.adresse.pays}}</span></label>
      <label class="col-sm-6"><span class="">Ville : {{vm.demande.clent.adresse.ville}}</span></label>
     </div>

     <div class="row">
      <label class="col-sm-6"><span class="">Adresse : {{vm.demande.clent.adresse.adresse}}</span></label>
      <label class="col-sm-6"><span class="">Email : {{vm.demande.clent.adresse.email}}</span></label>
     </div>
     <div class="row">
      <label class="col-sm-6"><span class="">Téléphone : {{vm.demande.clent.adresse.telephonePortable}}</span></label>
     </div>
      

      <h3 style="border-bottom: 1px solid #ddd; padding: 1px">PROJET </h3>
      <div class="row">
      <label class="col-sm-6"><span class="">Numero Demande : {{vm.demande.id}}</span></label>
      <label class="col-sm-6"><span class="">Montant projet : {{vm.demande.projet.montantProjet}}</span></label>
     </div>
     <div class="row">
      <label class="col-sm-6"><span class="">Montant traveau : {{vm.demande.projet.montantTravau}}</span></label>
      <label class="col-sm-6"><span class="">Frais notaire : {{vm.demande.projet.fraisNotaire}}</span></label>
     </div>
     <div class="row">
      <label class="col-sm-6"><span class="">Nombre emprunteur : {{vm.demande.projet.nombreEmpreteur}}</span></label>
     </div>
      
      
      

      <h3 style="border-bottom: 1px solid #ddd; padding: 1px">PATRIMOINE </h3>

     
      <div class="row">
      <label class="col-sm-6"><span class="">Bien Principal : {{vm.demande.patrimoine.bienPrincipal}}</span></label>
      <label class="col-sm-6"><span class="">Durée Principale : {{vm.demande.patrimoine.duPrincipal}}</span></label>
     </div>

     <div class="row">
      <label class="col-sm-6"><span class="">Bien Secondaire : {{vm.demande.patrimoine.bienSecondaire}}</span></label>
      <label class="col-sm-6"><span class="">Durée Secondaire : {{vm.demande.patrimoine.duSecondaire}}</span></label>
     </div>

     <div class="row">
      <label class="col-sm-6"><span class="">Bien Locatif : {{vm.demande.patrimoine.bienLocatif}}</span></label>
      <label class="col-sm-6"><span class="">Durée Locatif : {{vm.demande.patrimoine.duLocatif}}</span></label>
     </div>
     <div class="row">
      <label class="col-sm-6"><span class="">Autre Bien : {{vm.demande.patrimoine.bienAutre}}</span></label>
      <label class="col-sm-6"><span class="">Durée Locatif : {{vm.demande.patrimoine.duAutre}}</span></label>
     </div>

       <label><span class="">PROFESSION :</span></label><br>
       <table class="table table-striped table-bordered">
         <tr>
             <td><label><span class="">Situation</label></td>
             <td><label><span class="">Type Contrat</label></td>
             <td><label><span class="">Durée Contrat</label></td>
         </tr>
          <tr>
             <td><label><span class="">{{vm.demande.patrimoine.profession.situation}}</span></label></td>
             <td><label><span class="">{{vm.demande.patrimoine.profession.typeContrat}}</span></label></td>
             <td><label><span class="">{{vm.demande.patrimoine.profession.dureeContrat}}</span></label></td>
         </tr>
       </table>

        <label><span class="">CREDIT :</span></label><br>
       <table class="table table-striped table-bordered">
         <tr>
             <td><label><span class="">Principal</label></td>
             <td><label><span class="">Secondaire</label></td>
             <td><label><span class="">Locatif</label></td>
             <td><label><span class="">Autre</label></td>
         </tr>
          <tr>
             <td style="padding: 0">
               <table class="table table-striped" style="width: 100%">
               <tr>
             <td><label><span class="">Mensualité</label></td>
             <td><label><span class="">Restant</label></td>
             <td><label><span class="">nbr Mois</label></td>
             </tr>
               <tr>
             <td><label><span class="">{{vm.demande.patrimoine.credit.principal.mensualite}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.principal.restant}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.principal.nbrMois}}</label></td>
             </tr>
              </table>
             </td>
            <td style="padding: 0">
               <table class="table table-striped" style="width: 100%">
               <tr>
             <td><label><span class="">Mensualité</label></td>
             <td><label><span class="">Restant</label></td>
             <td><label><span class="">nbr Mois</label></td>
             </tr>
               <tr>
             <td><label><span class="">{{vm.demande.patrimoine.credit.secondaire.mensualite}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.secondaire.restant}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.secondaire.nbrMois}}</label></td>
             </tr>
              </table>
             </td>
             <td style="padding: 0">
             <table class="table table-striped" style="width: 100%">
               <tr>
             <td><label><span class="">Mensualité</label></td>
             <td><label><span class="">Restant</label></td>
             <td><label><span class="">nbr Mois</label></td>
             </tr>
               <tr>
             <td><label><span class="">{{vm.demande.patrimoine.credit.locatif.mensualite}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.locatif.restant}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.locatif.nbrMois}}</label></td>
             </tr>
              </table>
             </td>
             <td style="padding: 0">
             <table class="table table-striped" style="width: 100%;text-align:center;font-size: 11px">
               <tr>
             <td><label><span class="">Mensualité</label></td>
             <td><label><span class="">Restant</label></td>
             <td><label><span class="">nbr Mois</label></td>
             </tr>
               <tr>
             <td><label><span class="">{{vm.demande.patrimoine.credit.autre.mensualite}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.autre.restant}}</label></td>
             <td><label><span class="">{{vm.demande.patrimoine.credit.autre.nbrMois}}</label></td>
             </tr>
              </table>
             </td>
         </tr>
       </table>

       <label><span class="">Revenu</span></label><br>      
      <table class="table table-striped table-bordered">
         <tr>
             <td><label><span class="">Mensuel</label></td>
             <td><label><span class="">Nombre de mois</label></td>
             <td><label><span class="">Prime</label></td>
             <td><label><span class="">Locatif</label></td>
             <td><label><span class="">Pension Alimentaire</label></td>
             <td><label><span class="">Cession Salaire</label></td>
         </tr>
         <tr>
             <td><label><span class="">{{vm.demande.patrimoine.revenu.mensuel}}</span></label></td>
             <td><label><span class="">{{vm.demande.patrimoine.revenu.nbrMois}}</span></label></td>
             <td><label><span class="">{{vm.demande.patrimoine.revenu.prime}}</span></label></td>
             <td><label><span class="">{{vm.demande.patrimoine.revenu.locatif}}</span></label></td>
             <td><label><span class="">{{vm.demande.patrimoine.revenu.pensionAlimentaire}}</span></label></td>
             <td><label><span class="">{{vm.demande.patrimoine.revenu.cessionSalaire}}</span></label></td>
         </tr>
       </table>



    
      <h3 style="border-bottom: 1px solid #ddd; padding: 1px">FINANCEMENT </h3> 
      <label><span class="">Apport</span></label> <br>
       <table class="table table-striped table-bordered">
         <tr>
             <td><label><span class="">Montant</label></td>
             <td><label><span class="">Montant Final</label></td>
             <td><label><span class="">Durée Souhaitée</label></td>
             <td><label><span class="">montant Maximun Souhaité</label></td>
         </tr>
         <tr>
             <td><label><span class="">{{vm.demande.financement.apport.montant}}</span></label></td>
             <td><label><span class="">{{vm.demande.financement.apport.montantFinale}}</span></label></td>
             <td><label><span class="">{{vm.demande.financement.apport.dureeSouhaite}}</span></label></td>
             <td><label><span class="">{{vm.demande.financement.apport.montantMaxSouhaite}}</span></label></td>
         </tr>
       </table>
      <label><span class="">Verement : {{vm.demande.financement.versement}}</span></label> <br>
      <label><span class="">Banque Principale : {{vm.demande.financement.banque}}</span></label> <br>

      <span ng-if="{{User.role}}==admin">
        <button type="button" ng-click="" class="btn btn-primary">Primary</button>
      </span>
     </div>
  </div>
    </div>
</section>
