<div class="panel-body service" data-height="height style="min-height: 400px">

    <div class="panel panel-default" style="min-width: 900px; margin: auto; margin-bottom: 30px; border: 0; font-size: 12px ">
      <div ng-if="!recap" style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 30px" class=" text-center">
        <span style="color: #555">
          <i class="material-icons"></i>
        </span>
        <span style="color: #777; position: relative;top: -8px;font-style: italic;font-size: 16px;">Détail Projet N° {{demande.numeroDemande}} </span>
      </div>
      <div ng-if="!utilsService.isBank()">
       <div class="panel panel-default" style="background-color: #f7f7f7"> 
       	<div class="panel-body">
     <h5 style="border-bottom: 1px solid #ddd; padding: 1px; padding-left: 20px; background-color: #7a43b6; color: #fff;  ">EMPRUNTEUR </h5>
     <div class="row">
      <label class="col-sm-6">Prénom : {{demande.client.prenom}}</label>
      <label class="col-sm-6">Nom : {{demande.client.nom}}</label>
     </div>
     
     <div class="row">
      <label class="col-sm-6">Civilité : {{demande.client.civilite}}</label>
      <label class="col-sm-6">Situation Familliale : {{demande.client.situationfamiliale}}</label>
     </div>
     
     <div class="row">
      <label class="col-sm-6">Date de Naissance : {{demande.client.dateNassance}}</label>
      <label class="col-sm-6">Nationalité : {{demande.client.nationalite}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Pays : {{demande.client.adresse.pays}}</label>
      <label class="col-sm-6">Ville : {{vm.demande.client.adresse.ville}}</label>
     </div>

     <div class="row">
      <label class="col-sm-6">Adresse : {{demande.client.adresse.adresse}}</label>
      <label class="col-sm-6">Email : {{demande.client.email}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Téléphone : {{demande.client.adresse.telephonePortable}}</label>
     </div>
       </div> 
   </div>
  </div>
 <div class="panel panel-default" style="background-color: #f7f7f7"> 
       	<div class="panel-body">
      <h5 style="border-bottom: 1px solid #ddd; padding: 1px; padding-left: 20px; background-color: #7a43b6; color: #fff;  ">VOTRE PROJET </h5>
      <div class="row">
      <label class="col-sm-6">Numero Demande : {{demande.numeroDemande}}</label>
      <label class="col-sm-6">Montant projet : {{demande.projet.montantProjet}} XOF</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Montant traveau : {{demande.projet.montantTravaux}} XOF</label>
      <label class="col-sm-6">Frais notaire : {{demande.projet.fraisNotaire}} XOF</label>
     </div>
     <div class="row">
     <label class="col-sm-6">Budget total estimé du projet : {{demande.projet.montantProjet + demande.projet.montantTravaux + demande.projet.fraisNotaire}}</label>
   
     </div>
      
      </div>
      </div>
      

<div class="panel panel-default" style="background-color: #f7f7f7"> 
       	<div class="panel-body">
 
 <h5  style="border-bottom: 1px solid #ddd; padding: 1px; padding-left: 20px; background-color: #7a43b6; color: #fff;  ">PATRIMOINE </h5>
     
      <div class="row">
      <label class="col-sm-6">Bien Principal : {{demande.patrimoine.bienPrincipal}} XOF</label>
      <label class="col-sm-6">Durée Principale : {{demande.patrimoine.duPrincipal}}</label>
     </div>

     <div class="row">
      <label class="col-sm-6">Bien Secondaire : {{demande.patrimoine.bienSecondaire}} XOF</label>
      <label class="col-sm-6">Durée Secondaire : {{demande.patrimoine.duSecondaire}}</label>
     </div>

     <div class="row">
      <label class="col-sm-6">Bien Locatif : {{demande.patrimoine.bienLocatif}} XOF</label>
      <label class="col-sm-6">Durée Locatif : {{demande.patrimoine.duLocatif}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Autre Bien : {{demande.patrimoine.bienAutre}} XOF</label>
      <label class="col-sm-6">Durée Locatif : {{demande.patrimoine.duAutre}}</label>
     </div><br>

      
 </div>
</div>

<div class="panel panel-default" style="background-color: #f7f7f7"> 
       	<div class="panel-body">
 
 <h5  style="border-bottom: 1px solid #ddd; padding: 1px; padding-left: 20px; background-color: #7a43b6; color: #fff;  ">CREDIT  </h5>
     
     
       <table class="table table-striped table-bordered" style="text-align: center;">
         <tr>
             <td>Principal</td>
             <td>Secondaire</td>
             <td>Locatif</td>
             <td>Autre</td>
         </tr>
          <tr>
             <td style="padding: 0">
               <table class="table table-striped" style="width: 100%" style="text-align: center; ">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.principal.mensualite}} XOF</td>
             <td>{{demande.patrimoine.credit.principal.restant}} XOF</td>
             <td>{{demande.patrimoine.credit.principal.nbrMois}}</td>
             </tr>
              </table>
             </td>
            <td style="padding: 0">
               <table class="table table-striped" style="width: 100%;text-align: center; ">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.secondaire.mensualite}} XOF</td>
             <td>{{demande.patrimoine.credit.secondaire.restant}}  XOF</td>
             <td>{{demande.patrimoine.credit.secondaire.nbrMois}} XOF</td>
             </tr>
              </table>
             </td>
             <td style="padding: 0">
             <table class="table table-striped" style="width: 100%; text-align: center; ">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.locatif.mensualite}} XOF</td>
             <td>{{demande.patrimoine.credit.locatif.restant}} XOF</td>
             <td>{{demande.patrimoine.credit.locatif.nbrMois}}</td>
             </tr>
              </table>
             </td>
             <td style="padding: 0">
             <table class="table table-striped" style="width: 100%;text-align:center;font-size: 11px">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.autre.mensualite}} XOF</td>
             <td>{{demande.patrimoine.credit.autre.restant}} XOF</td>
             <td>{{demande.patrimoine.credit.autre.nbrMois}}</td>
             </tr>
              </table>
             </td>
         </tr>
       </table><br>

      
 </div>
</div>

<div class="panel panel-default" style="background-color: #f7f7f7"> 
       	<div class="panel-body">
 
 <h5 style="border-bottom: 1px solid #ddd; padding: 1px; padding-left: 20px; background-color: #7a43b6; color: #fff;  ">REVENU </h5>
     
       
      <table class="table table-striped table-bordered" style="text-align: center; ">
         <tr>
             <td>Mensuel</td>
             <td>Nombre de mois</td>
             <td>Prime</td>
             <td>Locatif</td>
             <td>Pension Alimentaire</td>
             <td>Cession Salaire</td>
         </tr>
         <tr>
             <td>{{demande.patrimoine.revenu.mensuel}} XOF</td>
             <td>{{demande.patrimoine.revenu.nbrMois}}</td>
             <td>{{demande.patrimoine.revenu.prime}} XOF</td>
             <td>{{demande.patrimoine.revenu.locatif}} XOF</td>
             <td>{{demande.patrimoine.revenu.pensionAlimentaire}} XOF</td>
             <td>{{demande.patrimoine.revenu.cessionSalaire}} XOF</td>
         </tr>
       </table>
      
 </div>
</div>

<div class="panel panel-default" style="background-color: #f7f7f7"> 
       	<div class="panel-body">
 
 <h5 style="border-bottom: 1px solid #ddd; padding: 1px; padding-left: 20px; background-color: #7a43b6; color: #fff;  ">SITUATION PROFESSIONNELLE </h5>
       <table class="table table-striped table-bordered" style="text-align: center; ">
         <tr>
             <td>Situation</td>
             <td>Type Contrat</td>
             <td>Durée Contrat</td>
         </tr>
          <tr>
             <td>{{demande.patrimoine.profession.situation}}</td>
             <td>{{demande.patrimoine.profession.typeContrat}}</td>
             <td>{{demande.patrimoine.profession.dureeContrat}}</td>
         </tr>
       </table>
 </div>
</div>


    <div class="panel panel-default" style="background-color: #f7f7f7"> 
       	<div class="panel-body">
       		 <h5 style="border-bottom: 1px solid #ddd; padding: 1px; padding-left: 20px; background-color: #7a43b6; color: #fff;  ">FINANCEMENT </h5>
      
   
       <table class="table table-striped table-bordered" style="text-align: center; ">
         <tr>
             <td>Montant</td>
             <td>Montant Final</td>
             <td>Durée Souhaitée</td>
             <td>montant Maximun Souhaité</td>
         </tr>
         <tr>
             <td>{{demande.apport.montant}} XOF</td>
             <td>{{demande.apport.montantFinale}} XOF</td>
             <td>{{demande.apport.dureeSouhaite}}</td>
             <td>{{demande.apport.montantMaxSouhaite}} XOF</td>
         </tr>
       </table>
       <br>
       
      <div class="row">
      <label class="col-sm-6">Verement : {{demande.financement.versement}} XOF</label>
      <label class="col-sm-6">Banque Principale : {{demande.financement.banque}}</label>
     </div>

     <br>
     
      <br>
    
</div>
  </div>
      
  </div>
  <div ng-if="!recap" ng-switch="demande.etat"  style="text-align:center ">
  <div ng-switch-when="1">
      <div ng-if="utilsService.isAdmin()">
  	<button  ng-click="validerDemande()"  type="button" style="background-color: #663399;color: #FFFFFF" class="btn-theme btn-theme-md btn-default-bg text-uppercase">Valider</button>
  </div>
</div>
  <div ng-switch-when="5">
      <div ng-if="utilsService.isBank() &&  utilsService.isBankCanAddOffer(demande)">
  	<a ui-sref="offres.deposer({demandeId:  demande.id})" type="button" style="background-color: #663399;color: #FFFFFF" class="btn-theme btn-theme-md btn-default-bg text-uppercase">Déposer Offre</a>
  </div>
  </div>
  
</div>

    </div>
    
   