 <div class="panel panel-default">
<div style="background-color: #7a43b6; color: #fff; height: auto">
    <h3 class="color-white padding">DEMANDE</h3>
</div>

        <div class="panel-body" style="min-height: 400px">

    <div class="panel panel-default" style="min-width: 900px; margin: auto; margin-bottom: 30px; border: 0; font-size: 12px ">
      <div class="panel-body">

       <div class="panel panel-default"> 
       	<div class="panel-body">
     <h3 style="border-bottom: 1px solid #ddd; padding: 1px">CLIENT </h3>
     <div class="row">
      <label class="col-sm-6">Prénom : {{demande.clent.prenom}}</label>
      <label class="col-sm-6">Nom : {{demande.clent.nom}}</label>
     </div>
     
     <div class="row">
      <label class="col-sm-6">Civilité : {{demande.clent.civilite}}</label>
      <label class="col-sm-6">Situation Familliale : {{demande.clent.situationfamiliale}}</label>
     </div>
     
     <div class="row">
      <label class="col-sm-6">Date de Naissance : {{demande.clent.dateNassance}}</label>
      <label class="col-sm-6">Nationalité : {{demande.clent.nationalite}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Pays : {{demande.clent.adresse.pays}}</label>
      <label class="col-sm-6">Ville : {{vm.demande.clent.adresse.ville}}</label>
     </div>

     <div class="row">
      <label class="col-sm-6">Adresse : {{demande.clent.adresse.adresse}}</label>
      <label class="col-sm-6">Email : {{demande.clent.adresse.email}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Téléphone : {{demande.clent.adresse.telephonePortable}}</label>
     </div>
       </div> 
   </div>
 <div class="panel panel-default"> 
       	<div class="panel-body">
      <h3 style="border-bottom: 1px solid #ddd; padding: 1px">PROJET </h3>
      <div class="row">
      <label class="col-sm-6">Numero Demande : {{demande.id}}</label>
      <label class="col-sm-6">Montant projet : {{demande.projet.montantProjet}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Montant traveau : {{demande.projet.montantTravau}}</label>
      <label class="col-sm-6">Frais notaire : {{demande.projet.fraisNotaire}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Nombre emprunteur : {{demande.projet.nombreEmpreteur}}</label>
     </div>
      
      </div>
      </div>
      

<div class="panel panel-default"> 
       	<div class="panel-body">
      <h3 style="border-bottom: 1px solid #ddd; padding: 1px">PATRIMOINE </h3>

     
      <div class="row">
      <label class="col-sm-6">Bien Principal : {{demande.patrimoine.bienPrincipal}}</label>
      <label class="col-sm-6">Durée Principale : {{demande.patrimoine.duPrincipal}}</label>
     </div>

     <div class="row">
      <label class="col-sm-6">Bien Secondaire : {{demande.patrimoine.bienSecondaire}}</label>
      <label class="col-sm-6">Durée Secondaire : {{demande.patrimoine.duSecondaire}}</label>
     </div>

     <div class="row">
      <label class="col-sm-6">Bien Locatif : {{demande.patrimoine.bienLocatif}}</label>
      <label class="col-sm-6">Durée Locatif : {{demande.patrimoine.duLocatif}}</label>
     </div>
     <div class="row">
      <label class="col-sm-6">Autre Bien : {{demande.patrimoine.bienAutre}}</label>
      <label class="col-sm-6">Durée Locatif : {{demande.patrimoine.duAutre}}</label>
     </div><br>

       <h5>PROFESSION :</h5>
       <table class="table table-striped table-bordered" style="text-align: center; ">
         <tr>
             <td>Situation</td>
             <td>Type Contrat</td>
             <td>Durée Contrat</td>
         </tr>
          <tr>
             <td>{{demande.patrimoine.profession.situation}}</td>
             <td>{{demande.patrimoine.profession.typeContrat}}</td>
             <td>{{demande.patrimoine.profession.dureeContrat}}</td>
         </tr>
       </table><br>

        <h5>CREDIT :</h5>
       <table class="table table-striped table-bordered" style="text-align: center; ">
         <tr>
             <td>Principal</td>
             <td>Secondaire</td>
             <td>Locatif</td>
             <td>Autre</td>
         </tr>
          <tr>
             <td style="padding: 0">
               <table class="table table-striped" style="width: 100%" style="text-align: center; ">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.principal.mensualite}}</td>
             <td>{{demande.patrimoine.credit.principal.restant}}</td>
             <td>{{demande.patrimoine.credit.principal.nbrMois}}</td>
             </tr>
              </table>
             </td>
            <td style="padding: 0">
               <table class="table table-striped" style="width: 100%;text-align: center; ">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.secondaire.mensualite}}</td>
             <td>{{demande.patrimoine.credit.secondaire.restant}}</td>
             <td>{{demande.patrimoine.credit.secondaire.nbrMois}}</td>
             </tr>
              </table>
             </td>
             <td style="padding: 0">
             <table class="table table-striped" style="width: 100%; text-align: center; ">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.locatif.mensualite}}</td>
             <td>{{demande.patrimoine.credit.locatif.restant}}</td>
             <td>{{demande.patrimoine.credit.locatif.nbrMois}}</td>
             </tr>
              </table>
             </td>
             <td style="padding: 0">
             <table class="table table-striped" style="width: 100%;text-align:center;font-size: 11px">
               <tr>
             <td>Mensualité</td>
             <td>Restant</td>
             <td>nbr Mois</td>
             </tr>
               <tr>
             <td>{{demande.patrimoine.credit.autre.mensualite}}</td>
             <td>{{demande.patrimoine.credit.autre.restant}}</td>
             <td>{{demande.patrimoine.credit.autre.nbrMois}}</td>
             </tr>
              </table>
             </td>
         </tr>
       </table><br>

       <h5>REVENU :</h5>    
      <table class="table table-striped table-bordered" style="text-align: center; ">
         <tr>
             <td>Mensuel</td>
             <td>Nombre de mois</td>
             <td>Prime</td>
             <td>Locatif</td>
             <td>Pension Alimentaire</td>
             <td>Cession Salaire</td>
         </tr>
         <tr>
             <td>{{demande.patrimoine.revenu.mensuel}}</td>
             <td>{{demande.patrimoine.revenu.nbrMois}}</td>
             <td>{{demande.patrimoine.revenu.prime}}</td>
             <td>{{demande.patrimoine.revenu.locatif}}</td>
             <td>{{demande.patrimoine.revenu.pensionAlimentaire}}</td>
             <td>{{demande.patrimoine.revenu.cessionSalaire}}</td>
         </tr>
       </table>
 </div>
</div>


    <div class="panel panel-default"> 
       	<div class="panel-body">
      <h3 style="border-bottom: 1px solid #ddd; padding: 1px">FINANCEMENT </h3> 
     <h5>APPORT :</h5>
       <table class="table table-striped table-bordered" style="text-align: center; ">
         <tr>
             <td>Montant</td>
             <td>Montant Final</td>
             <td>Durée Souhaitée</td>
             <td>montant Maximun Souhaité</td>
         </tr>
         <tr>
             <td>{{demande.financement.apport.montant}}</td>
             <td>{{demande.financement.apport.montantFinale}}</td>
             <td>{{demande.financement.apport.dureeSouhaite}}</td>
             <td>{{demande.financement.apport.montantMaxSouhaite}}</td>
         </tr>
       </table>
       <br>
      <div class="row">
      <label class="col-sm-6">Verement : {{demande.financement.versement}}</label>
      <label class="col-sm-6">Banque Principale : {{demande.financement.banque}}</label>
     </div><br>
      <br>
    
</div>
  </div>
     
     </div>
  </div>

  <div ng-switch="demande.etat">
  <div ng-switch-when="1">
  	<button  ng-click="DemandesService.validerDemande({demande._id})"  type="button" class="btn btn-success">Valider</button>
  </div>
  <div ng-switch-when="5">
  	<a ui-sref="? error = false : save()" type="button" class="btn btn-success">Dépoer Offre</a>
  </div>
  <div ng-switch-default>
  	<button ng-click="? error = false : saveDemande()" type="button" class="btn btn-success">Soumettre</button>
  </div>
</div>

    </div>
    </div>
    
   