<div class="col-sm-12" >

<form class="form-signin"   name="" ng-submit=""  novalidate autocomplete="off" >
            
            <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">
              Bienvenue dans votre espace client
              </h3>
            </div>
               <div class="panel-body" style="">
                <table style="width: 100%;">
                    
                    <tr style="">
                        <td>
 
                            <input id="utilisateur" ng-model="" required autofocus type="text"  name="utilisateur" class="form-control" placeholder="Email *" />
                            <br/>
                            <input type="password" id="password" name="password" class="form-control" ng-model="" placeholder="mot de passe *" required /> 
                            <br/>
                            <p style="text-align: right"><button class="btn btn-sm btn-primary btn-block"  type="submit">Connexion</button></p>
                        </td>
                    </tr>
                    <tr>
                        
                        <td style="text-align: right">
                            <br/>
                            <a href="" >Mot de Passe oublié</a></td>
                    </tr>
                </table>    
               </div>
                </div>
                
</form>
    
 </div> 
    

