<section class="row">
  <div style="width: 750px;background-color: #fff; box-shadow: 0px 0px 2px #ccc; padding: 60px 10px 100px 10px;margin: auto;">
    <div class="login-logo">
    </div>
     <p style="text-align: center;"><img class="img-thumbnail" width="100px" style="margin: 0;" ng-src="/modules/core/client/img/color_with_background@2x.png" alt="Image">
      </p>
        <p class="" style="text-align: center">
          Bienvenue dans votre espace client
        </p><br>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">      
       <fieldset>
        <div class="row">
          <div class="col-md-6">
          <a ui-sref="authentication.signup_part" style="background-color: #663399;color: #FFFFFF" class="btn-theme btn-theme-md btn-default-bg " >Demandeur Particulier</a>        
            
          </div>
          <div class="col-md-6">
            <a ui-sref="authentication.signup_pro" style="background-color: #663399;color: #FFFFFF" class="btn-theme btn-theme-md btn-default-bg ">Devenir un client Pro.</a>          
          </div>          
        </div>       
      </fieldset>
    
        </div>
        <div class="clearfix"></div>
  </div>
</section>
